<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="widget">
        <div class="latest_tweets">
            <h4> <i ></i>  Curiosidades <small> Biblicas </small> </h4>
            <div class="tweets">
                <div class="tweets_slider owl-carousel owl-theme">
                    <ui:repeat value="#{PostBean.curiosities}" var="post" varStatus="status">
                        <div class="item clearfix">
                            #{post.description}
                            <a href="#{post.picture}">Leer versículo</a> 
                            <br/><br/>	
                            #{post.postDate} 
                        </div><!-- /slide -->
                    </ui:repeat>
                </div><!-- /tweets slider -->
            </div><!-- /tweets -->
        </div><!-- /latest tweets -->
    </div><!-- /widget -->
</ui:composition>