<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="posts_block mbf clearfix">
        <div class="title color3">
            <h4>Eventos</h4>
        </div>
        <ui:repeat value="#{PostBean.newsIndex}" var="post" varStatus="status">
            <ui:fragment rendered="#{((status.index)) eq 0}">
                <div class="grid_6 alpha">
                    <div class="mb hover-shadow">
                        <a href="Evento?id=#{post.idPost}">
                            <img src="#{post.picture}" />
                        </a>
                    </div>
                    <div class="post_m_content">
                        <h3>
                            <a href="Evento?id=#{post.idPost}">#{post.title}</a>
                        </h3>
                        <div class="meta mb"> 
                            <p> #{post.description} </p>
                        </div>
                    </div>
                </div>
            </ui:fragment>
        </ui:repeat>

        <ui:fragment rendered="#{PostBean.news.size() gt 1}">
            <div class="grid_6 omega">
                <div class="small_slider_travel owl-carousel owl-theme">
                    <div class="item clearfix">
                        <ul class="small_posts">
                            <ui:repeat value="#{PostBean.news}" var="post" varStatus="status">
                                <ui:fragment rendered="#{(status.index) gt 0 and (status.index) lt 5}">
                                    <li class="clearfix">
                                        <a class="s_thumb hover-shadow" href="Evento?id=#{post.idPost}">
                                            <img width="70" height="70" src="#{post.picture}"/>
                                        </a>
                                        <h3>
                                            <a href="Evento?id=#{post.idPost}">#{post.title}</a>
                                        </h3>
                                        <div class="meta mb"> 
                                            <p> #{post.description} </p>
                                        </div>
                                    </li>
                                </ui:fragment>
                            </ui:repeat>
                        </ul>
                    </div>

                    <div class="item clearfix">
                        <ul class="small_posts">
                            <ui:repeat value="#{VideoBean.music}" var="video" varStatus="status">
                                <ui:fragment rendered="#{(status.index) gt 3 and (status.index) lt 8}">
                                    <li class="clearfix">
                                        <a class="s_thumb hover-shadow" href="Evento?id=#{post.idPost}">
                                            <img width="70" height="70" src="#{post.picture}"/>
                                        </a>
                                        <h3>
                                            <a href="Evento?id=#{post.idPost}">#{post.title}</a>
                                        </h3>
                                        <div class="meta mb"> 
                                            <p> #{post.description} </p>
                                        </div>
                                    </li>
                                </ui:fragment>
                            </ui:repeat>
                        </ul>
                    </div>
                </div>
            </div>
        </ui:fragment>

    </div>
</ui:composition>
