<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <div class="posts_block mbf clearfix">
        <div class="title color1">
            <h4>¿Quién dijo que la música cristiana es aburrida?</h4>
        </div>
        <ui:repeat value="#{VideoBean.musicIndex}" var="video" varStatus="status">
            <ui:fragment rendered="#{((status.index)) eq 0}">
                <div class="grid_6 alpha">
                    <div class="mb hover-shadow">
                        <div class="youtube_big">
                            <video id="example_video_1" class="video-js vjs-default-skin" controls="none" width="420" height="349"
                                   data-setup='{"techOrder":["youtube","html5"],"ytcontrols":false}'>
                                <source src="#{video.url}" type='video/youtube' />
                            </video>
                        </div>
                    </div>
                    <div class="post_m_content">
                        <h3>
                            <a href="#{video.url}">#{video.title}</a>
                        </h3>
                        <div class="meta mb"> 
                            <p> #{video.description} </p>
                        </div>
                    </div>
                </div>
            </ui:fragment>
        </ui:repeat>


        <div class="grid_6 omega">
            <div class="small_slider_travel owl-carousel owl-theme">
                <div class="item clearfix">
                    <ul class="small_posts">
                        <ui:repeat value="#{VideoBean.music}" var="video" varStatus="status">
                            <ui:fragment rendered="#{(status.index) gt 0 and (status.index) lt 5}">
                                <li class="clearfix">
                                    <a class="s_thumb hover-shadow" href="#{video.url}" target="_blank">
                                        <img width="150" height="100" src="#{video.image}"/>
                                    </a>
                                    <h4>
                                        <a href="#{video.url}" target="_blank">#{video.title}</a>
                                    </h4>
                                    <div class="meta mb"> 
                                        <p> #{video.description} </p>
                                    </div>
                                </li>
                            </ui:fragment>
                        </ui:repeat>
                    </ul>
                </div>

                <div class="item clearfix">
                    <ul class="small_posts">
                        <ui:repeat value="#{VideoBean.music}" var="video" varStatus="status">
                            <ui:fragment rendered="#{(status.index) gt 3 and (status.index) lt 8}">
                                <li class="clearfix">
                                    <a class="s_thumb hover-shadow" href="#{video.url}" target="_blank">
                                        <img width="150" height="100" src="#{video.image}"/>
                                    </a>
                                    <h3>
                                        <a href="#{video.url}" target="_blank">#{video.title}</a>
                                    </h3>
                                    <div class="meta mb"> 
                                        <p> #{video.description} </p>
                                    </div>
                                </li>
                            </ui:fragment>
                        </ui:repeat>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ui:composition>