<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="posts_block mbf clearfix">
        <div class="title color5">
            <h4>Fotos</h4>
        </div>
        <ui:repeat value="#{PictureAlbumBean.recentAlbums}" var="album" varStatus="status">
            <ui:fragment rendered="#{((status.index)) eq 0}">
                <div class="grid_6 alpha">
                    <div class="mb hover-shadow">
                        <h:link outcome="photos" >
                            <f:param name="id" value="#{album.idPictureAlbum}" />
                            <h:graphicImage url="#{album.picture}" />
                        </h:link>
                    </div>
                    <div class="post_m_content">
                        <h3>
                            <h:link outcome="photos" value="#{album.title}">
                                <f:param name="id" value="#{album.idPictureAlbum}" />                    
                            </h:link>
                        </h3>
                        <div class="meta mb"> 
                            <p> #{album.description} </p>
                        </div>
                    </div>
                </div>
            </ui:fragment>
        </ui:repeat>
        <ui:fragment rendered="#{PictureAlbumBean.recentAlbums.size() gt 1}">
            <div class="grid_6 omega">
                <div class="small_slider_travel owl-carousel owl-theme">
                    <div class="item clearfix">
                        <ul class="small_posts">
                            <ui:repeat value="#{PictureAlbumBean.recentAlbums}" var="album" varStatus="status">
                                <ui:fragment rendered="#{(status.index) gt 0 and (status.index) lt 5}">
                                    <li class="clearfix">                                  
                                        <h:link outcome="photos" class="s_thumb hover-shadow">
                                            <f:param name="id" value="#{album.idPictureAlbum}" />
                                            <h:graphicImage url="#{album.picture}" width="150" height="100"/>
                                        </h:link>
                                        <h3>
                                            <h:link outcome="photos" value="#{album.title}">
                                                <f:param name="id" value="#{album.idPictureAlbum}" />                    
                                            </h:link>
                                        </h3>
                                        <div class="meta mb"> 
                                            <p> #{album.description} </p>
                                        </div>
                                    </li>
                                </ui:fragment>
                            </ui:repeat>
                        </ul>
                    </div>
                    <div class="item clearfix">
                        <ul class="small_posts">
                            <ui:repeat value="#{PictureAlbumBean.recentAlbums}" var="album" varStatus="status">
                                <ui:fragment rendered="#{(status.index) gt 3 and (status.index) lt 8}">
                                    <li class="clearfix">
                                        <h:link outcome="photos" class="s_thumb hover-shadow">
                                            <f:param name="id" value="#{album.idPictureAlbum}" />
                                            <h:graphicImage url="#{album.picture}" width="150" height="100"/>
                                        </h:link>
                                        <h3>
                                            <h:link outcome="photos" value="#{album.title}">
                                                <f:param name="id" value="#{album.idPictureAlbum}" />                    
                                            </h:link>   
                                        </h3>
                                        <div class="meta mb"> 
                                            <p> #{album.description} </p>
                                        </div>
                                    </li>
                                </ui:fragment>
                            </ui:repeat>
                        </ul>
                    </div>
                </div>
            </div>
        </ui:fragment>
    </div>
</ui:composition>
