<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form>


        <div class="widget">
            <div class="title">
                <h4>Vos tambien contas</h4></div>
            <div class="wp-polls">

                <p class="tac">
                    <strong>#{PollBean.ultimatePoll.question}</strong>
                </p>
                <div class="wp-polls-ans">
                    <ul class="wp-polls-ul">
                        <ui:repeat value="#{PollBean.poll.pollOptionsList}" var="poll" varStatus="status" >

                            <ui:fragment rendered="#{(login.isLogin)}">
                                <li style="height: 27px">                                    
                                    <ui:fragment rendered="#{(poll.idPoll.userVote.idPollOption.idPollOptions) eq (poll.idPollOptions)}">
                                        <h:commandButton styleClass="vote-success" type="submit" actionListener="#{PollBean.delete(poll.pollStat.idPollStats)}" value="Eliminar"/>   
                                    </ui:fragment>

                                    <ui:fragment rendered="#{((poll.idPoll.userVote.idPollOption.idPollOptions) ne (poll.idPollOptions)) and  (poll.idPoll.userVote.idPollOption eq null)}">
                                        <h:commandButton styleClass="vote-failed" type="submit" actionListener="#{PollBean.vote(poll.idPollOptions)}" value="Votar"/>                          
                                    </ui:fragment>

                                    <ui:fragment rendered="#{((poll.idPoll.userVote.idPollOption.idPollOptions) ne (poll.idPollOptions) and (poll.idPoll.userVote.idPollOption) ne null)}">
                                        <h:commandButton styleClass="vote-failed" type="submit" actionListener="#{PollBean.change(poll.pollStat.idPollStats, poll.idPollOptions)}" value="Votar"/>  
                                    </ui:fragment>

                                    <h:outputLabel  value="#{poll.description}"/>
                                </li>
                            </ui:fragment>

                            <ui:fragment rendered="#{(login.isLogin) eq false}">
                                <li>                                    
                                    <h:outputLabel  value="#{poll.description}"/>
                                </li>
                            </ui:fragment>
                        </ui:repeat>
                    </ul>

                    <ui:fragment rendered="#{(login.isLogin) eq false}">
                        <h:outputLabel value="Inicia Sesión para votar"/>
                    </ui:fragment>
                    <input type="button" name="results" value="   Ver Resultados   " class="btn-vote"/>

                    <div class="votes">

                        <ul class="vote-p">
                            <ui:repeat value="#{PollBean.poll.percentage}" var="stat" varStatus="status" >
                                <li>

                                    <h:outputLabel styleClass="btn-vote" value="#{stat.percentage} % "/>

                                    <h:outputLabel styleClass="vote-label" value="#{stat.description}"/>
                                </li>
                            </ui:repeat>
                        </ul>

                    </div>
                </div>
            </div>
        </div><!-- widget -->
    </h:form>
</ui:composition>