<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <div class="posts_block mbf clearfix">
        <div class="title color6">
            <h4>Dios quiere hablarte hoy</h4>
        </div>
        <div class="carousel_TV">
            <ui:repeat value="#{VideoBean.videosIndex}" var="video" varStatus="status">
                <ui:fragment rendered="#{((status.index)+1) gt 0}">
                    <div class="item hover-shadow">
                        <h:link outcome="sermonDetail" >
                            <f:param name="id" value="#{video.idVideo}" />
                            <h:graphicImage url="#{video.image}" />
                        </h:link>
                        #{video.title}
                    </div>
                </ui:fragment>
            </ui:repeat>
        </div>
    </div>
</ui:composition>