<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">  
    <div class="container">
        <div id="content"> 
            <div id="slinder-dialog" class="login-popup2">
                <a href="#" class="close">
                    <img src="resources/images/close_pop.png" class="btn_close" title="Close Window" alt="Close" />
                </a>
                <div class="signin">
                    <div class="register-title-admin">
                        Ingresar imágen
                    </div>
                    <center>
                        <div style="text-align: left">
                            Seleccione la imágen
                            <br/><br/>
                            <h:inputFile value="#{PictureAlbumBean.file}" id="file" />
                            <br/><br/>

                            <h:commandButton  value="Agregar" styleClass="add-btn" type="submit" actionListener="#{PictureAlbumBean.insertSlinder}">
                                <f:ajax execute="@form" render=":adminForm:msgSlinderPanel :adminForm:slinderTable " />                                       
                            </h:commandButton>

                            <h:panelGroup id="msgSlinderPanel">
                                <h:outputText value=" " />
                                <h:outputText id="msgSuccess" value="#{PictureAlbumBean.sucessMessage}" styleClass="succes-msg" rendered="#{PictureAlbumBean.sucessMessage ne null}" />
                                <h:outputText id="msgError" value="#{PictureAlbumBean.errorMessage}" styleClass="error-msg" rendered="#{PictureAlbumBean.errorMessage ne null}" />
                            </h:panelGroup>


                        </div>
                    </center>
                </div>
            </div>

        </div>
    </div>

</ui:composition>