<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <ui:include src="/css.xhtml" /> 
        <h:outputScript library="js" name="slinder.js" />
    </h:head>
    <h:body>
        <h:form enctype="multipart/form-data" id="adminForm">
            <div id="layout" class="boxed-margin">
                <ui:include src="/section/menu.xhtml" /> 
                <div class="page-content">			
                    <div class="row clearfix">    
                        <div class="grid_12 alpha">
                            <div class="grid_12 alpha posts">
                                <div class="title color7">
                                    <h4>Imágenes Menu Inicio (Slinder)</h4>                           
                                </div>
                                <ui:include src="/section/dialog/slinder.xhtml" /> 
                                <ui:include src="/section/tables/slinder.xhtml" />                                 
                                <div class="title color6">
                                    <h4>Prédicas</h4>                           
                                </div>      
                                
                                <ui:include src="/section/dialog/sermon.xhtml" /> 
                                <ui:include src="/section/tables/sermon.xhtml" />  
                            </div>                            
                        </div>
                    </div>
                </div>
                <ui:include src="/section/footer.xhtml" /> 
            </div>
            <ui:include src="/js.xhtml" /> 
        </h:form>
    </h:body>
</html>