<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <ui:include src="/css.xhtml" /> 
    </h:head>
    <h:body>
        <div id="layout" class="boxed-margin">

            <ui:include src="/section/menu.xhtml" /> 

            <div class="page-content">			
                <div class="row clearfix">
                    <div class="logo">

                    </div><!-- /logo -->
                    <div class="ads">
                        <div class = "img-text">
                            <img src="http://162.253.126.108/~ucbdpdbn/public/img/logo/+Q.png"  width="50px"/>

                        </div>
                        <div class = "img-text">
                            Iglesia CCI Vida Abundante - <span>Red Juvenil</span>
                        </div>

                    </div><!-- /ads -->

                    <div class="grid_12 alpha">

                        <div class="grid_12 alpha posts">
                            <div class="title color5">
                                <h4>Coreografía</h4>
                            </div>


                            <!-- END PAGE META -->
                            <!-- START PRIMARY -->
                            <div id="primary" class="sidebar-no">
                                <div class="inner group">
                                    <!-- START CONTENT -->
                                    <div id="content-page" class="content group">
                                        <div class="hentry group">                                        
                                            <ul id="portfolio" class="three-columns">

                                                <c:forEach items="#{PictureAlbumBean.coreografiaMinisterio}" var="album" varStatus="status">
                                                    <c:choose>
                                                        <c:when  test="#{(status.index+1)%2 eq 1}">
                                                            <li class="first slide-1 first one-third">
                                                                <a class="" href="#" rel="lightbox" >
                                                                    <img src="#{album.url}" style="width:265px; height:265px"/>
                                                                </a>
                                                                <h4>
                                                                    <a href="#">#{album.title}</a>
                                                                </h4>
                                                            </li>
                                                        </c:when>
                                                        <c:otherwise>
                                                            <li class="slide-2  one-third">
                                                                <a class="" href="#" rel="lightbox" ><!--thumb video -->
                                                                    <img src="#{album.url}" style="width:265px; height:265px"/>
                                                                </a>
                                                                <h4>
                                                                    <a href="#">#{album.title}</a>
                                                                </h4>
                                                            </li>
                                                        </c:otherwise>
                                                    </c:choose>
                                                </c:forEach>
                                            </ul>
                                        </div>
                                        <!-- START COMMENTS -->
                                        <div id="comments">
                                        </div>
                                        <!-- END COMMENTS -->
                                    </div>
                                    <!-- END CONTENT -->
                                    <!-- START EXTRA CONTENT -->
                                    <!-- END EXTRA CONTENT -->
                                </div>
                            </div>
                            <!-- END PRIMARY -->



                        </div><!-- end grid9 -->



                    </div><!-- /row -->
                </div><!-- /end page content -->
            </div><!-- /end page content -->
            <ui:include src="/section/footer.xhtml" /> 

        </div><!-- /layout -->

        <ui:include src="/js.xhtml" /> 
    </h:body>
</html>