<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:outputStylesheet library="css" name="style.css"  />
    <h:outputStylesheet library="css" name="icons.css"  />
    <h:outputStylesheet library="css" name="animate.css"  />
    <h:outputStylesheet library="css" name="font-awesome.css"  />
    <h:outputStylesheet library="css" name="font-awesome.min.css"  />
    <h:outputStylesheet library="css" name="responsive.css"  />
    <h:outputStylesheet library="css" name="default.css"  />
    <h:outputStylesheet library="css" name="nivo-slider.css"  />
    <h:outputStylesheet library="css" name="default.css"  />
    <h:outputStylesheet library="css" name="socialSideBar.css"  />
    <h:outputStylesheet library="css" name="forum.css"  />
    <h:outputScript library="js" name="jquery.js" />
    <h:outputScript library="js" name="jquery-ui.js" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'/>
    <link rel="shortcut icon" href="http://162.253.126.108/~ucbdpdbn/public/img/logo/+Q.png"/>
    <link href="http://162.253.126.108/~ucbdpdbn/public/img/logo/+Q.png" rel="image_src" />
    <title>+Q Joven</title>

    <f:view encoding="UTF-8"/>
    <!-- <script>
         window.oncontextmenu = function() {
             return false;
         }
     </script>
    -->
    <script type="text/javascript">
        function printHiddenValue() {

            alert(document.getElementById('myform:hiddenId').value);

        }
    </script>

    <h:outputStylesheet library="youtubePlugin" name="video-js.css"  />
    <h:outputScript library="youtubePlugin" name="video.js" />


    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <h:outputScript library="js" name="socialSideBar.js" />
    <h:outputScript library="js" name="showVotes.js" />


    <script type="text/javascript">
        youTubeChannelURL = "https://www.youtube.com/channel/UCRzPSmuNKE9YTv4JtvVec2Q";
        youTubePlaylistURL = "https://www.youtube.com/playlist?list=PLHve1wmEW_TkgSdr_Z8OlmHGlZgh1IuGk";
        youmaxDefaultTab = "featured";
        youmaxColumns = 1;
        youmaxWidgetWidth = 275;
        youmaxWidgetHeight = 555;
        showFeaturedVideoOnLoad = false;
        showVideoInLightbox = true;
    </script>

    <script>
        var newwindow;
        function poptastic(url)
        {
            newwindow = window.open(url, 'name', 'height=400,width=200');
            if (window.focus) {
                newwindow.focus();
            }
        }
    </script>








    <!--
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    -->

    <script type="text/javascript">
        $(document).ready(function() {
            $('a.login-window').click(function() {

                // Getting the variable's value from a link 
                var loginBox = $(this).attr('href');

                //Fade in the Popup and add close button
                $(loginBox).fadeIn(300);

                //Set the center alignment padding + border
                var popMargTop = ($(loginBox).height() + 24) / 2;
                var popMargLeft = ($(loginBox).width() + 24) / 2;

                $(loginBox).css({
                    'margin-top': -popMargTop,
                    'margin-left': -popMargLeft
                });

                // Add the mask to body
                $('body').append('<div id="mask"></div>');
                $('#mask').fadeIn(300);

                return false;
            });


        });
    </script>

    <script>
        $(document).ready(function() {
            $('.login-box').hide();
            $('a.close').on('click', function(e) {
                e.preventDefault();
                var elem = $(this).next('.login-popup');

                $('.login-popup').hide();
                $('#mask').hide();

                elem.toggle('slow');
            });
        });
    </script>
    <script>
        function hideRegister() {
            document.getElementById("login-div").click();
        }
    </script>
</ui:composition>