<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <ui:include src="/css.xhtml" /> 
    </h:head>
    <h:body>
        <h:form>

            <div id="layout" class="boxed-margin">

                <ui:include src="/section/menu.xhtml" /> 

                <div class="page-content">			
                    <div class="row clearfix">

                        <center>
                            <div style="text-align: left">
                                La cuenta aún no ha sido activada, para activarla accese a su cuenta de correo electrónico
                            </div>
                        </center>
                    </div>
                </div>
                <ui:include src="/section/footer.xhtml" /> 

            </div>
            <ui:include src="/js.xhtml" /> 
        </h:form>
    </h:body>
</html>