<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <ui:include src="/css.xhtml" /> 
        <f:event listener="#{PostBean.getEventById}" type="preRenderView" />
        <meta property="og:url" content="http://jjmsoftsolutions.com/Evento?id=#{VideoBean.video.idVideo}"/>
        <meta property="og:title" content="#{PostBean.post.title}"/>
        <meta property="og:image" content="#{PostBean.post.picture}"/>
        <meta property="og:site_name" content="+Q Joven"/>
        <meta property="og:description" content="#{PostBean.post.description}"/>
    </h:head>
    <h:body>
        <h:form> 
            <div id="layout" class="boxed-margin">
                <ui:include src="/section/menu.xhtml" /> 
                <div class="page-content">			
                    <div class="row clearfix">
                        <ui:include src="/section/logo.xhtml" /> 
                        <div class="grid_12 alpha">
                            <div class="grid_9 alpha posts">
                                <div class="title color3">
                                    <h4>#{PostBean.post.title}</h4>                           
                                </div>
                                <div class="single_post mbf clearfix">
                                    <div class="meta mb"> 
                                        Expositor  <a href="#">FIXME EXPOSITOR</a>  / #{PostBean.post.postDate}          

                                        <div id="video-facebook">
                                            <div id="fb-root"></div>
                                            <div class="fb-share-button" data-href="http://jjmsoftsolutions.com/Evento?id=#{PostBean.post.idPost}" data-width="200" data-type="button_count"></div>
                                        </div>  
                                    </div>

                                    <img src="#{PostBean.post.picture}" alt=""/>

                                    <br/><br/><br/>
                                    <p> 
                                        #{PostBean.post.description}
                                    </p>
                                </div>
                                <div id="comments-wrap">
                                    <h4 class="heading">#{PostBean.post.postCommentList.size()} Comentario(s)</h4>
                                    <ol class="commentlist">
                                        <ui:repeat value="#{PostBean.post.postCommentList}" var="comment" varStatus="status">
                                            <li class="comment even thread-even depth-1" id="li-comment-1">
                                                <div id="comment-1" class="comment-body clearfix">
                                                    <img alt='' src='http://0.gravatar.com/avatar/4f64c9f81bb0d4ee969aaf7b4a5a6f40?s=35&amp;d=&amp;r=G' class='avatar avatar-35 photo' height='35' width='35' />      
                                                    <div class="comment-author vcard">#{comment.email.username}</div>
                                                     <div class="comment-meta-1 commentmetadata">
                                                        <span class="comment-date">#{comment.commentDate}</span>

                                                        <ui:fragment rendered="#{(login.isLogin)}">
                                                            <ui:fragment rendered="#{(login.user.email) ne (comment.email.email) }">


                                                                <span class="comment-denunciar-link-wrap">
                                                                    <div id="commentForm">
                                                                        <h:commandButton value="Denunciar" actionListener="#{PostBean.postComment}"/>     
                                                                    </div>
                                                                </span>
                                                            </ui:fragment>

                                                            <ui:fragment rendered="#{(login.user.email) eq (comment.email.email)}">
                                                                <span class="comment-reply-link-wrap">
                                                                    <div id="commentForm">
                                                                        <h:commandButton value="Eliminar" actionListener="#{PostBean.deletePostComment(comment.idPost)}"/>     
                                                                    </div>
                                                                </span>
                                                            </ui:fragment>
                                                        </ui:fragment>

                                                    </div>
                                                    <div class="comment-inner">
                                                        <p>
                                                            #{comment.comment}
                                                        </p>
                                                    </div>
                                                </div>                                   
                                            </li>
                                        </ui:repeat>
                                    </ol>
                                </div>			
                                <div id="respond">
                                    <div class="cancel-comment-reply"><a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display:none;">Cancel reply</a></div>
                                    <div id="commentform">
                                        <c:choose>
                                            <c:when  test="#{login.isLogin}">
                                                <h4 class="heading">Déjanos tu comentario</h4>
                                                <h:inputTextarea  value="#{PostBean.comment.comment}" id="comment"  tabindex="4" style="width: 800px; height: 200px"/>
                                                <br/>
                                                <p>
                                                    <h:commandButton value="Comentar" actionListener="#{PostBean.postComment}"/>     
                                                </p>
                                            </c:when>
                                            <c:otherwise>
                                                <h4 class="heading">Inicia Sesión para poder comentar</h4>
                                            </c:otherwise>
                                        </c:choose>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="grid_3 omega sidebar sidebar_a">
                                <ui:include src="/section/popularSermon.xhtml" /> 
                            </div>
                        </div>
                    </div>
                </div>
                <ui:include src="/section/footer.xhtml" /> 
            </div>
            <ui:include src="/js.xhtml" /> 
        </h:form>
    </h:body>
</html>