<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <ui:include src="/css.xhtml" /> 
    </h:head>
    <h:body>
        <div id="layout" class="boxed-margin">

            <ui:include src="/section/menu.xhtml" /> 

            <div class="page-content">			
                <div class="row clearfix">
                    <ui:include src="/section/logo.xhtml" /> 

                    <div class="grid_12 alpha">

                        <div class="grid_9 alpha posts">
                            <div class="title color3">
                                <h4>Eventos</h4>
                            </div>             
                            
                            
                             <ui:repeat value="#{PostBean.events}" var="event" varStatus="status">

                                <div class="post_day mbfd clearfix">
                                    <div class="grid_6 alpha relative">
                                        <a  href="Evento?id=#{event.idPost}">
                                            <img src="#{event.picture}" alt=""/>
                                        </a>
                                    </div><!-- /grid6 alpha -->
                                    <div class="grid_6 omega">
                                        <div class="post_day_content">
                                            <div class="post_dat_content_title">

                                                <div class="title-meta">
                                                    <a href="Evento?id=#{event.idPost}">#{event.title}</a> 
                                                </div>

                                                <div class="meta mb"> 
                                                    <ul>


                                                        <li class="calendar-meta">
                                                            <p>
                                                                Fecha: #{event.postDate}
                                                            </p>                                                            
                                                        </li>
                                                        <li class="comment-meta">
                                                            <p>
                                                                #{event.postCommentList.size()} comentario(s)
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>


                                            </div>
                                            <div class="content_meta">
                                                <p> 
                                                    #{event.description}
                                                </p>
                                            </div>

                                            
                                        </div><!-- /grid6 omega -->
                                    </div><!-- /post day -->
                                </div>
                                <!-- /post -->
                            </ui:repeat>
                            
                            <div class="pagination-tt clearfix">
                                <ul>
                                    <ui:repeat value="#{PostBean.totalButtons}" var="tag" varStatus="status">
                                        <ui:fragment rendered="#{tag.selected eq true}">
                                            <li>
                                                <span>#{status.index+1}</span>
                                            </li>
                                        </ui:fragment>

                                        <ui:fragment rendered="#{tag.selected eq false}">
                                            <li>
                                                <h:link outcome="eventDetail" value="#{status.index+1}">                                    
                                                    <f:param name="end" value="#{tag.number}" />
                                                </h:link>         

                                            </li>
                                        </ui:fragment>

                                    </ui:repeat>


                                </ul>

                            </div><!-- /pagination -->

                        </div><!-- end grid9 -->
                        <div class="grid_3 omega sidebar sidebar_a">



                            <ui:include src="/section/popularSermon.xhtml" /> 




                            <!-- <ui:include src="/section/recentComments.xhtml" /> -->


                        </div><!-- /grid3 sidebar A -->

                    </div><!-- /row -->
                </div><!-- /end page content -->
            </div><!-- /end page content -->
            <ui:include src="/section/footer.xhtml" /> 

        </div><!-- /layout -->

        <!-- Scripts -->
        <ui:include src="/js.xhtml" /> 

    </h:body>
</html>