<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <ui:include src="/css.xhtml" /> 
   </h:head>
    <h:body id="body">
        <div id="layout" class="boxed-margin">
            <ui:include src="/section/menu.xhtml" /> 
            <div class="page-content">			
                <div class="row clearfix">
                    <ui:include src="/section/logo.xhtml" /> 
                    <div class="grid_12 alpha">
                        <div class="slider-wrapper theme-default">
                            <div id="slider" class="nivoSlider">
                                <ui:repeat value="#{PictureAlbumBean.pictureSlinder}" var="picture" varStatus="status">
                                    <img src="#{picture.url}" data-thumb="#{picture.url}" alt="" title="#{picture.title}"/>
                                </ui:repeat>
                            </div>
                        </div>
                    </div>
                    <div class="grid_9 alpha">
                        <div class="grid_12 omega posts righter">                           
                            <ui:include src="/View/Index/Sermon.xhtml" /> 
                            <ui:include src="/View/Index/Photos.xhtml" /> 
                            <ui:include src="/View/Index/Music.xhtml" /> 
                            <ui:include src="/View/Index/Events.xhtml" /> 
                        </div>
                    </div>
                    <div class="grid_3 omega sidebar sidebar_a">                        
                        <ui:include src="/section/popularPost.xhtml" /> 
                        <ui:include src="/View/Index/Curiosities.xhtml" />
                        <ui:include src="/View/Index/Poll.xhtml" />
                    </div>                  
                </div>
            </div>
            <ui:include src="/section/footer.xhtml" /> 
        </div>
        <ui:include src="/js.xhtml" /> 
    </h:body>
</html>