<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">


    <!-- Scripts -->
    <h:outputScript library="js" name="jquery.min.js" />
    <h:outputScript library="js" name="ipress.js" />
    <h:outputScript library="js" name="owl.carousel.min.js" />
    <h:outputScript library="js" name="jquery.ticker.js" />
    <h:outputScript library="js" name="custom.js" />
    <!-- PROVOCA QUE NO FUNCIONE EL MENU -->
    <!-- <h:outputScript library="js" name="jquery-1.9.0.min.js" /> -->
    <h:outputScript library="js" name="jquery.nivo.slider.js" />

    <h:outputScript library="js" name="jquery.placeholder.js" />
    <h:outputScript library="js" name="jquery.custom.js" />
    <h:outputScript library="js" name="jquery.tipsy.js" />

    <script type="text/javascript">
        $(window).load(function() {
            $('#slider').nivoSlider();
        });
    </script>


    <!-- Place this tag after the last share tag. -->
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>   


    <script>
        !function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');
    </script>

</ui:composition>