<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <ui:include src="/css.xhtml" /> 
    </h:head>
    <h:body>
        <div id="layout" class="boxed-margin">

            <ui:include src="/section/menu.xhtml" /> 

            <div class="page-content">			
                <div class="row clearfix">

                    <ui:include src="/webSiteConstruction.xhtml" /> 

                    <!--
                    <div class="logo">

                    </div>
                    <div class="ads">
                        <div class = "img-text">
                            <img src="http://162.253.126.108/~ucbdpdbn/public/img/logo/+Q.png" width="50px"/>

                        </div>
                        <div class = "img-text">
                            Iglesia CCI Vida Abundante - <span>Red Juvenil</span>
                        </div>
                    </div>

                    <div class="grid_12 alpha">

                        <div class="grid_9 alpha posts">
                            <div class="title color6">
                                <h4>Prédicas</h4>
                            </div>
                            <ui:repeat value="#{VideoBean.allVideosSermon}" var="video" varStatus="status">

                                <div class="post_day mbf clearfix">
                                    <div class="grid_6 alpha relative">
                                        <a class="hover-shadow" href="sermonDetail.xhtml?id=#{video.idVideo}">
                                            <img src="#{video.image}" alt=""/>
                                        </a>
                                    </div>
                                    <div class="grid_6 omega">
                                        <div class="post_day_content">
                                            <h3> 
                                                <a href="sermonDetail.xhtml?id=#{video.idVideo}">#{video.title}</a> 
                                            </h3>
                                            <div class="meta mb"> 
                                                <strong>Fecha:</strong> #{video.videoDate}   /    <a href="single_post.html">#{video.videoCommentsList.size()} comentarios</a> 
                                            </div>
                                            <p> 
                    #{video.description}
                </p>
            </div>
        </div>
    </div>
</ui:repeat>
<div class="pagination-tt clearfix">
    <ul>
        <li><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">27</a></li>
    </ul>

</div>

</div>
<div class="grid_3 omega sidebar sidebar_a">



<ui:include src="/section/popularSermon.xhtml" /> 



<ui:include src="/section/facebookSocial.xhtml" />

</div>

</div>
                    -->
                </div><!-- /end page content -->
            </div><!-- /end page content -->
            <ui:include src="/section/footer.xhtml" /> 

        </div><!-- /layout -->

        <!-- Scripts -->
        <ui:include src="/js.xhtml" /> 

    </h:body>
</html>