<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <ui:include src="/css.xhtml" /> 
    </h:head>
    <h:body>
        <div id="layout" class="boxed-margin">

            <ui:include src="/section/menu.xhtml" /> 

            <div class="page-content">			
                <div class="row clearfix">
                    <div class="logo">

                    </div><!-- /logo -->
                    <div class="ads">
                        <div class = "img-text">
                            <img src="http://162.253.126.108/~ucbdpdbn/public/img/logo/+Q.png"  width="50px"/>

                        </div>
                        <div class = "img-text">
                            Iglesia CCI Vida Abundante - <span>Red Juvenil</span>
                        </div>

                    </div><!-- /ads -->

                    <div class="grid_12 alpha">

                        <div class="grid_9 alpha posts">
                            <div class="title color1">
                                <h4>¿Quién dijo que la música cristiana es aburrida?</h4>
                            </div>
                            <ui:repeat value="#{VideoBean.allVideosMusic}" var="video" varStatus="status">
                                <!-- post -->
                                <div class="post_day mbf clearfix">
                                    <div class="grid_6 alpha relative">
                                        <iframe width="420" height="349"
                                                src="http://www.youtube.com/embed/#{video.code}">
                                        </iframe>
                                    </div><!-- /grid6 alpha -->
                                    <div class="grid_6 omega">
                                        <div class="post_day_content">
                                            <h3> 
                                                <a href="sermonDetail.xhtml?id=#{video.idVideo}">#{video.title}</a> 
                                            </h3>

                                            <p> 
                                                #{video.description}
                                            </p>
                                        </div><!-- /post content -->
                                    </div><!-- /grid6 omega -->
                                </div><!-- /post day -->
                                <!-- /post -->
                            </ui:repeat>



                        </div><!-- end grid9 -->
                        <div class="grid_3 omega sidebar sidebar_a">



                            <ui:include src="/section/popularSermon.xhtml" /> 






                        </div><!-- /grid3 sidebar A -->

                    </div><!-- /row -->
                </div><!-- /end page content -->
            </div><!-- /end page content -->
            <ui:include src="/section/footer.xhtml" /> 

        </div><!-- /layout -->

        <ui:include src="/js.xhtml" /> 

    </h:body>
</html>