<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <ui:include src="/css.xhtml" /> 
        <f:event listener="#{PostBean.getPostById}" type="preRenderView" />
        <meta property="og:url" content="http://jjmsoftsolutions.com/faces/post.xhtml?id=#{PostBean.post.idPost}"/>
        <meta property="og:title" content="#{PostBean.post.title}"/>
        <meta property="og:image" content="#{PostBean.post.picture}"/>
        <meta property="og:site_name" content="+Q Joven"/>
        <meta property="og:description" content="#{PostBean.post.description}"/>
    </h:head>
    <h:body>
        <h:form> 
            <div id="layout" class="boxed-margin">

                <ui:include src="/section/menu.xhtml" /> 

                <div class="page-content">			
                    <div class="row clearfix">
                        <div class="logo">

                        </div><!-- /logo -->
                        <div class="ads">
                            <div class = "img-text">
                                <img src="http://162.253.126.108/~ucbdpdbn/public/img/logo/+Q.png" width="50px"/>

                            </div>
                            <div class = "img-text">
                                Iglesia CCI Vida Abundante - <span>Red Juvenil</span>
                            </div>

                        </div><!-- /ads -->

                        <div class="grid_12 alpha">

                            <div class="grid_9 alpha posts">

                                <div class="title color6">
                                    <h4>#{PostBean.post.title}</h4>                           
                                </div>


                                <div class="single_post mbf clearfix">


                                    <div class="meta mb"> 
                                        <!--
                                                                 Expositor  <a href="#">#{VideoBean.video.idExponent.firstName}</a>  / #{VideoBean.video.videoDate}          
                         
                                        -->
                                    </div>


                                    <div id="video-facebook">
                                        <div class="fb-share-button" data-href="http://jjmsoftsolutions.com/Post?id=#{VideoBean.video.idVideo}" data-width="200" data-type="button_count"></div>
                                        <!-- Place this tag where you want the share button to render. -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://jjmsoftsolutions.com/Post?id=#{VideoBean.video.idVideo}" data-text="#{VideoBean.video.title}" data-via="QJoven" data-lang="es" data-hashtags="+QJoven">Twittear</a>

                                        <div class="g-plus" data-action="share" data-href="http://jjmsoftsolutions.com/Post?id=#{VideoBean.video.idVideo}" ></div>



                                    </div> 


                                    <div class="video-youtube">                                       
                                        <img src="#{PostBean.post.picture}" />
                                    </div>


                                    <div class="postinfo">
                                        <div class="date-post"><span>12<br/>Aug</span></div>
                                        <div class="num-comm">#{PostBean.post.postCommentList.size()}</div>
                                        <!--
                                        <div class="facebook-custom">
                                            
                                            <span class="selection">
                                        
                                                
                                            </span>
                                        </div>-->
                                    </div>



                                    <br/><br/><br/>


                                </div>



                                <p>
                                    #{PostBean.post.description}

                                </p>


                                <div id="comments-wrap">
                                    <h4 class="heading">#{PostBean.post.postCommentList.size()} Comentario(s)</h4>


                                    <ol class="commentlist">
                                        <ui:repeat value="#{PostBean.post.postCommentList}" var="comment" varStatus="status">

                                            <div class="comment-author">

                                                <c:choose>
                                                    <c:when  test="#{login.isLogin}">                                                                
                                                        <ui:fragment rendered="#{comment.email.email eq login.user.email}">
                                                            <h:link outcome="profile" value="#{comment.email.username}">
                                                                <f:param name="id" value="#{comment.email.email}" />
                                                                <f:param name="sermon" value="3" />
                                                                <f:param name="post" value="3" />
                                                            </h:link>
                                                        </ui:fragment>

                                                        <ui:fragment rendered="#{comment.email.email ne login.user.email}">

                                                            <h:link outcome="profile2" value="#{comment.email.username}">
                                                                <f:param name="id" value="#{comment.email.email}" />
                                                                <f:param name="sermon" value="3" />
                                                                <f:param name="post" value="3" />
                                                            </h:link>
                                                        </ui:fragment>
                                                    </c:when>
                                                    <c:otherwise>          

                                                        <h:link outcome="profile2" value="#{comment.email.username}">
                                                            <f:param name="id" value="#{comment.email.email}" />
                                                            <f:param name="sermon" value="3" />
                                                            <f:param name="post" value="3" />
                                                        </h:link>
                                                    </c:otherwise>
                                                </c:choose>

                                                <span class="comment-meta-1 comment-date"> el día #{comment.dateInWords}</span>

                                            </div>



                                            <li class="comment even thread-even depth-1" id="li-comment-1">
                                                <ui:fragment rendered="#{comment.email.picture.trim().length() == 0}">
                                                    <div class="avatar1">
                                                        <img alt='' src='resources/images/avatar1.jpg' /> 
                                                    </div>
                                                </ui:fragment>

                                                <ui:fragment rendered="#{comment.email.picture.trim().length() > 0}">
                                                    <div class="avatar1">
                                                        <img alt='' src='#{comment.email.picture}'  />      
                                                    </div>  
                                                </ui:fragment>


                                                <!--<div class="bubble-bg"></div>-->


                                                <div id="comment-1" class="comment-body clearfix">







                                                    <div class="comment-inner">
                                                        <p>
                                                            #{comment.comment}
                                                        </p>

                                                        <ui:fragment rendered="#{(login.isLogin)}">
                                                            <ui:fragment rendered="#{(login.user.email) ne (comment.email.email) }">


                                                                <span class="comment-denunciar-link-wrap">
                                                                    <div id="commentForm">
                                                                        <h:commandButton value="Denunciar" actionListener="#{VideoBean.postComment}"/>     
                                                                    </div>
                                                                </span>
                                                            </ui:fragment>

                                                            <ui:fragment rendered="#{(login.user.email) eq (comment.email.email)}">
                                                                <span class="comment-reply-link-wrap">
                                                                    <div id="commentForm">
                                                                        <h:commandButton value="Eliminar" actionListener="#{VideoBean.deletePostComment(comment.idVideoComment)}"/>     
                                                                    </div>
                                                                </span>
                                                            </ui:fragment>
                                                        </ui:fragment>
                                                    </div>
                                                </div>                                   
                                            </li>
                                        </ui:repeat>
                                    </ol>
                                </div>


























                                <!-- Respond -->				
                                <div id="respond">
                                    <div class="cancel-comment-reply"><a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display:none;">Cancel reply</a></div>
                                    <div id="commentform">

                                        <c:choose>
                                            <c:when  test="#{login.isLogin}">
                                                <h4 class="heading">Déjanos tu comentario</h4>
                                                <h:inputTextarea  value="#{PostBean.comment.comment}" id="comment"  tabindex="4" style="width: 800px; height: 200px"/>
                                                <br/>
                                                <p>
                                                    <h:commandButton value="Comentar" actionListener="#{PostBean.postComment}"/>     
                                                </p>
                                            </c:when>
                                            <c:otherwise>
                                                <h4 class="heading">Inicia Sesión para poder comentar</h4>
                                            </c:otherwise>

                                        </c:choose>




                                    </div>
                                </div>
                                <div class="clearfix">

                                </div>
                                <!-- ENDS Respond -->


                            </div><!-- end grid9 -->
                            <div class="grid_3 omega sidebar sidebar_a">



                                <ui:include src="/section/popularPost.xhtml" /> 


                            </div><!-- /grid3 sidebar A -->

                        </div><!-- /row -->
                    </div><!-- /end page content -->
                </div><!-- /end page content -->
                <ui:include src="/section/footer.xhtml" /> 

            </div><!-- /layout -->

            <ui:include src="/js.xhtml" /> 
        </h:form>
    </h:body>
</html>