<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <ui:include src="/css.xhtml" />
        <f:event listener="#{BlogBean.getBlogByEmail}" type="preRenderView" />
    </h:head>
    <h:body>
        <h:form enctype="multipart/form-data" id="profileForm">

            <div id="layout" class="boxed-margin">


                <ui:include src="/section/menu.xhtml" />

                <div class="page-content">
                    <div class="row clearfix">


                        <div class="member_content userprof" id="member_content">



                            <div class="profile_widgets member_summary userprof_moduleinactive sidebarleft" id="sidebar_container">

                                <div class="mainblock">

                                    <h1 class="blockhead">
                                        <!--<a href="#" class="textcontrol" >Edit</a>-->
                                        #{BlogBean.blog.username}

                                    </h1>

                                    <div class="blockrow" id="userinfoblock">

                                        <a class="avatar-profile" href="#">

                                            <ui:fragment rendered="#{BlogBean.blog.picture.trim().length() == 0}">
                                                <img alt='' src='resources/images/avatar1.jpg' />      
                                            </ui:fragment>

                                            <ui:fragment rendered="#{BlogBean.blog.picture.trim().length() > 0}">
                                                <img src="#{BlogBean.blog.picture}" alt="" />
                                            </ui:fragment>
                                        </a>

                                        <span id="userinfo">
                                            <c:choose>
                                                <c:when  test="#{login.isLogin}">
                                                    <ui:fragment rendered="#{BlogBean.blog.security.showStatusConecction eq '1'.charAt(0)}">
                                                        <span class="textstatus online connect">Conectado</span>
                                                    </ui:fragment>
                                                    <ui:fragment rendered="#{BlogBean.blog.security.showStatusConecction eq '3'.charAt(0)}">
                                                        <span class="textstatus online disconnect">Desconectado</span>
                                                    </ui:fragment>
                                                </c:when>
                                                <c:otherwise>
                                                    <ui:fragment rendered="#{BlogBean.blog.security.showStatusConecction eq '1'.charAt(0)}">
                                                        <span class="textstatus online disconnect">Desconectado</span>
                                                    </ui:fragment>
                                                </c:otherwise>
                                            </c:choose>



                                            <!--
                                                                                            <br /><span class="usertitle">Junior Member</span>
                                                                                            <br /><span class="rank"><b>rank</b></span>
                                                                                            <span class="member_reputation" title="John is a jewel in the rough">
                                                                                                <img class="repimg" src="http://www.crosailes.shn-host.ru/electron/images/reputation/reputation-pos.gif" alt="" />
                                                                                                <img class="repimg" src="http://www.crosailes.shn-host.ru/electron/images/reputation/reputation-pos.gif" alt="" />
                                                                                                <img class="repimg" src="http://www.crosailes.shn-host.ru/electron/images/reputation/reputation-pos.gif" alt="" />
                                                                                            </span>
                                            -->
                                        </span>

                                        <ul id="usermenu" class="usermenu">
                                            <li>
                                                <span class="dt">Último ingreso</span>  

                                                <ui:fragment rendered="#{BlogBean.blog.security.showLastConnection eq '1'.charAt(0)}">
                                                    #{BlogBean.blog.lastLoginDate}
                                                </ui:fragment>

                                                <ui:fragment rendered="#{BlogBean.blog.security.showLastConnection eq '3'.charAt(0)}">
                                                    <h:outputLabel value="No disponible"/>
                                                </ui:fragment>
                                            </li>


                                            <li>
                                                <span class="dt">Correo Electrónico</span>  
                                                <ui:fragment rendered="#{BlogBean.blog.security.showEmail eq '1'.charAt(0)}">
                                                    #{BlogBean.blog.email}
                                                </ui:fragment>

                                                <ui:fragment rendered="#{BlogBean.blog.security.showEmail eq '3'.charAt(0)}">
                                                    <h:outputLabel value="No disponible"/>
                                                </ui:fragment>
                                            </li>
                                        </ul>

                                    </div>

                                </div>



                                <div class="subsection block">
                                    <div class="groups">

                                        <h5 class="blockhead smaller">


                                        </h5>

                                    </div>
                                </div>

                            </div>






                            <div class="member_tabs contentright customDiv">


                                <div class="grid_12 alpha">

                                    <ul class="tabs">
                                        <li><a href="#t-1" class="active">Mi Actividad</a></li>
                                        <li><a href="#t-3">Mi Cuenta</a></li>




                                        <!--<li><a href="#t-3">Tab 3</a></li>-->
                                    </ul><!-- tabs -->


                                    <ul class="tabs-content">

                                        <ui:fragment rendered="#{BlogBean.blog.security.showActivity eq '1'.charAt(0)}">
                                            <ui:include src="/section/profile/activity.xhtml" />
                                        </ui:fragment>

                                        <ui:fragment rendered="#{BlogBean.blog.security.showActivity eq '3'.charAt(0)}">
                                            <div class="profile_content userprof" id="t-1">
                                                <div id="moreactivity_container" class="moreactivity">
                                                    <span id="noresults" class="hiden">Vista no disponible</span>
                                                </div>   
                                            </div>
                                        </ui:fragment>




                                        <ui:fragment rendered="#{BlogBean.blog.security.showProfile eq '1'.charAt(0)}">                                            
                                            <li id="t-3">
                                                <div class="profile_content userprof" >

                                                    <div id="moreactivity_container" class="moreactivity">
                                                        <span id="noresults" class="hiden">Modificar Datos Personales</span>
                                                    </div>


                                                    <div id="moreactivity_container" class="security forum_post active">   
                                                        <div class="header_profile">
                                                            Nombre:
                                                        </div>
                                                        <ui:fragment rendered="#{BlogBean.blog.security.showName eq '1'.charAt(0)}">
                                                            <h:outputLabel value="#{BlogBean.blog.name}"/>
                                                        </ui:fragment>

                                                        <ui:fragment rendered="#{BlogBean.blog.security.showName eq '3'.charAt(0)}">
                                                            <h:outputLabel value="No disponible"/>
                                                        </ui:fragment>


                                                    </div>


                                                    <div id="moreactivity_container" class="security forum_post active">           
                                                        <div class="header_profile">
                                                            Primer Apellido:            
                                                        </div>

                                                        <ui:fragment rendered="#{BlogBean.blog.security.showFirstName eq '1'.charAt(0)}">
                                                            <h:outputLabel id="firstName" value="#{BlogBean.blog.firstName}" />
                                                        </ui:fragment>

                                                        <ui:fragment rendered="#{BlogBean.blog.security.showFirstName eq '3'.charAt(0)}">
                                                            <h:outputLabel value="No disponible"/>
                                                        </ui:fragment>



                                                    </div>

                                                    <div id="moreactivity_container" class="security forum_post active">  
                                                        <div class="header_profile">
                                                            Segundo Apellido: 
                                                        </div>

                                                        <ui:fragment rendered="#{BlogBean.blog.security.showSecondLastName eq '1'.charAt(0)}">
                                                            <h:outputLabel id="secondLastName" value="#{BlogBean.blog.lastName}" />
                                                        </ui:fragment>

                                                        <ui:fragment rendered="#{BlogBean.blog.security.showSecondLastName eq '3'.charAt(0)}">
                                                            <h:outputLabel value="No disponible"/>
                                                        </ui:fragment>



                                                    </div>

                                                    <div id="moreactivity_container" class="security forum_post active">  
                                                        <div class="header_profile">
                                                            Teléfono: 
                                                        </div>

                                                        <ui:fragment rendered="#{BlogBean.blog.security.showPhone eq '1'.charAt(0)}">
                                                            <h:outputLabel value="#{BlogBean.blog.phone}" />  
                                                        </ui:fragment>

                                                        <ui:fragment rendered="#{BlogBean.blog.security.showPhone eq '3'.charAt(0)}">
                                                            <h:outputLabel value="No disponible"/>
                                                        </ui:fragment>

                                                    </div>

                                                    <div id="moreactivity_container" class="security forum_post active">  
                                                        <div class="header_profile">
                                                            Género: 
                                                        </div>

                                                        <ui:fragment rendered="#{BlogBean.blog.security.showGender eq '1'.charAt(0)}">
                                                            <h:selectOneMenu id="gender" value="#{BlogBean.blog.gender}" disabled="true">
                                                                <f:selectItem itemValue="" itemLabel="Seleccionar" />
                                                                <f:selectItem itemValue="F" itemLabel="Femenino" />
                                                                <f:selectItem itemValue="M" itemLabel="Masculino" />
                                                            </h:selectOneMenu>
                                                        </ui:fragment>

                                                        <ui:fragment rendered="#{BlogBean.blog.security.showGender eq '3'.charAt(0)}">
                                                            <h:outputLabel value="No disponible"/>
                                                        </ui:fragment>


                                                    </div>
                                                    <!--
                                                            <div id="moreactivity_container" class="security forum_post active">  
                                                                <div class="header_profile">
                                                                    Fecha Nacimiento: 
                                                                </div>
                                                                <h:inputText value="#{BlogBean.blog.birthDate}" />    
                                                            </div>
                                                    -->
                                                </div>
                                            </li>                                            
                                        </ui:fragment>

                                        <ui:fragment rendered="#{BlogBean.blog.security.showProfile eq '3'.charAt(0)}">
                                            <div class="profile_content userprof" id="t-3">
                                                <div id="moreactivity_container" class="moreactivity">
                                                    <span id="noresults" class="hiden">Vista no disponible</span>
                                                </div>   
                                            </div>
                                        </ui:fragment>





                                    </ul><!-- end tabs -->
                                </div><!-- /grid4 alpha -->







                            </div>





                        </div>


                    </div><!-- /end page content -->
                </div><!-- /end page content -->



                <ui:include src="/section/footer.xhtml" />

            </div><!-- /layout -->

            <!-- Scripts -->
            <ui:include src="/js.xhtml" />

        </h:form>
    </h:body>
</html>