<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <ui:include src="/css.xhtml" />
        <f:event listener="#{BlogBean.getBlogByEmailEdit}" type="preRenderView" />

    </h:head>
    <h:body>


        <div id="layout" class="boxed-margin">


            <ui:include src="/section/menu.xhtml" />

            <div class="page-content">
                <div class="row clearfix">







                    <div class="member_content userprof" id="member_content">


                        <h:form>
                            <div class="profile_widgets member_summary userprof_moduleinactive sidebarleft" id="sidebar_container">

                                <div class="mainblock">

                                    <h1 class="blockhead">
                                        <a href="#" class="textcontrol" >Edit</a>
                                        #{BlogBean.session.username}
                                    </h1>

                                    <div class="blockrow" id="userinfoblock">

                                        <a class="avatar" href="#">
                                            <img src="#{BlogBean.session.picture}" alt="" />
                                        </a>

                                        <span id="userinfo">
                                            <span class="textstatus online connect">Conectado</span>




                                            <!--
                                                                                            <br /><span class="usertitle">Junior Member</span>
                                                                                            <br /><span class="rank"><b>rank</b></span>
                                                                                            <span class="member_reputation" title="John is a jewel in the rough">
                                                                                                <img class="repimg" src="http://www.crosailes.shn-host.ru/electron/images/reputation/reputation-pos.gif" alt="" />
                                                                                                <img class="repimg" src="http://www.crosailes.shn-host.ru/electron/images/reputation/reputation-pos.gif" alt="" />
                                                                                                <img class="repimg" src="http://www.crosailes.shn-host.ru/electron/images/reputation/reputation-pos.gif" alt="" />
                                                                                            </span>
                                            -->
                                        </span>

                                        <ul id="usermenu" class="usermenu">
                                            <li>


                                                <span class="dt">Último ingreso</span>
                                                #{BlogBean.session.lastLoginDate}

                                            </li>


                                            <li>

                                                <span class="dt">Correo Electrónico</span>
                                                #{BlogBean.session.email}


                                            </li>
                                        </ul>

                                    </div>

                                </div>


                                <div class="subsection block">
                                    <div class="groups">
                                        <h5 class="blockhead smaller">
                                            <h:commandButton value="Cancelar Cuenta" styleClass="cancel-account " type="submit" actionListener="#{BlogBean.delete}"/>
                                        </h5>
                                    </div>
                                </div>


                            </div>
                        </h:form>


                        <center>
                            <div style="text-align: left">
                                <h:outputLabel value="#{BlogBean.sucessMessage}" styleClass="succes-msg" rendered="#{BlogBean.sucessMessage ne null}" />
                                <h:outputLabel value="#{BlogBean.errorMessage}" styleClass="error-msg" rendered="#{BlogBean.errorMessage ne null}" />
                            </div>
                        </center>





                        <div class="member_tabs contentright customDiv">


                            <div class="grid_12 alpha">

                                <ul class="tabs">
                                    <li><a href="#t-1" class="active">Mi Actividad</a></li>
                                    <li><a href="#t-3">Mi Cuenta</a></li>
                                    <li><a href="#t-2">Seguridad</a></li>
                                    <!--<li><a href="#t-3">Tab 3</a></li>-->
                                </ul><!-- tabs -->


                                <ul class="tabs-content">


                                    <ui:include src="/section/profile/activity.xhtml" />




                                    <li id="t-2">
                                        <ui:include src="/section/profile/security.xhtml" />
                                    </li>


                                    <li id="t-3">
                                        <div class="profile_content userprof" >
                                            <ul class="tabs tab2">
                                                <li><a href="#t-4" class="active li-color1">Datos Personales</a></li>
                                                <li><a href="#t-5">Cambiar Fotografía</a></li>
                                                <li><a href="#t-6">Cambiar Contraseña</a></li>
                                                <!--<li><a href="#t-3">Tab 3</a></li>-->
                                            </ul><!-- tabs -->
                                            <ul class="tabs-content">
                                                <li id="t-4"  class="active">
                                                    <ui:include src="/section/profile/personalInformation.xhtml" />
                                                </li>

                                                <li id="t-5">
                                                    <ui:include src="/section/profile/changePhoto.xhtml" />
                                                </li>

                                                <li id="t-6">
                                                    <ui:include src="/section/profile/changePassword.xhtml" />
                                                </li>
                                            </ul>


                                        </div>
                                    </li>                                            




                                </ul><!-- end tabs -->
                            </div><!-- /grid4 alpha -->







                        </div>





                    </div>


                </div><!-- /end page content -->
            </div><!-- /end page content -->



            <ui:include src="/section/footer.xhtml" />

        </div><!-- /layout -->

        <!-- Scripts -->
        <ui:include src="/js.xhtml" />


    </h:body>
</html>