<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form enctype="multipart/form-data" id="frmReg">
        <h:panelGroup id="container2">


            <div class="container">
                <div id="content">
                    <div id="login-box" class="login-popup">
                        <a href="#" class="close">
                            <img src="resources/images/close_pop.png" class="btn_close" title="Close Window" alt="Close" />
                        </a>


                        <div class="signin">

                            <div class="register-title">
                                Registrar
                            </div>



                            <ul class="tabs-content">
                                <div class="profile_content userprof" id="t-1">
                                    <ui:include src="/View/Login/PersonalInformation.xhtml" /> 
                                </div>

                                <li id="t-3" >
                                    <ui:include src="/View/Login/Security.xhtml" />
                                </li>

                                <li id="t-4" >
                                    <ui:include src="/View/Login/NewsLetter.xhtml" />
                                </li>
                            </ul>



                            <!--
                            <h:panelGroup id="result">
                                <h:outputText id="msgSuccess" value="#{BlogBean.sucessMessage}" styleClass="succes-msg" rendered="#{BlogBean.sucessMessage ne null}" />
                                <h:outputText id="msgError" value="#{BlogBean.errorMessage}" styleClass="error-msg" rendered="#{BlogBean.errorMessage ne null}" />
                            </h:panelGroup>
                            -->


                        </div>

                    </div>

                </div>
            </div>


        </h:panelGroup>
    </h:form>
</ui:composition>
