<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <ui:include src="/css.xhtml" /> 
    </h:head>
    <h:body>
        <h:form enctype="multipart/form-data">

            <div id="layout" class="boxed-margin">


                <ui:include src="/section/menu.xhtml" /> 

                <div class="page-content">			
                    <div class="row clearfix">

                        <center>
                            <div style="text-align: left">

                                <table>
                                    <tr>
                                        <td>
                                            Nombre:
                                        </td>

                                        <td>
                                            <h:inputText id="name" value="#{BlogBean.blog.name}" size="60" required="true" requiredMessage="Requerido" validatorMessage="El nombre tiene que ser menor a 45 caractéres">
                                                <f:validateLength maximum="45" />
                                            </h:inputText><br/>

                                        </td>
                                        <td class="validator-message-error">
                                            <h:message for="name"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Primer Apellido:
                                        </td>

                                        <td>
                                            <h:inputText id="firstName" value="#{BlogBean.blog.firstName}" size="60" required="true" requiredMessage="Requerido" validatorMessage="El primer apellido tiene que ser menor a 45 caractéres">
                                                <f:validateLength maximum="45" />
                                            </h:inputText><br/>

                                        </td>
                                        <td class="validator-message-error">
                                            <h:message for="firstName"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Segundo Apellido:
                                        </td>

                                        <td>
                                            <h:inputText id="secondLastName" value="#{BlogBean.blog.lastName}" size="60" required="true" requiredMessage="Requerido" validatorMessage="El segundo apellido tiene que ser menor a 45 caractéres">
                                                <f:validateLength maximum="45" />
                                            </h:inputText><br/>

                                        </td>
                                        <td class="validator-message-error">
                                            <h:message for="secondLastName"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Correo Electrónico:
                                        </td>

                                        <td>
                                            <h:inputText id="email" value="#{BlogBean.blog.email}" size="60" required="true" requiredMessage="Requerido" validatorMessage="El correo electrónico debe ser menor a 50 caractéres o ingrese un formato valido de correo electrónico">
                                                <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                                <f:validateLength maximum="50" />
                                            </h:inputText>
                                            <br/>
                                        </td>

                                        <td class="validator-message-error">
                                            <h:message for="email"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Género
                                        </td>

                                        <td>
                                            <h:selectOneMenu id="gender" value="#{BlogBean.blog.gender}" required="true" requiredMessage="El género es requerido">
                                                <f:selectItem itemValue="F" itemLabel="Femenino" />
                                                <f:selectItem itemValue="M" itemLabel="Masculino" />
                                            </h:selectOneMenu><br/>
                                        </td>

                                        <td class="validator-message-error">
                                            <h:message for="gender"/>
                                        </td>
                                    </tr>
                                    <!--
                                                                        <tr>
                                                                            <td>
                                                                                Fecha Nacimiento:
                                                                            </td>
                                    
                                                                            <td>
                                                                                <h:inputText id="birthDate" value="#{BlogBean.blog.birthDate}"  size="60" required="true" requiredMessage="Requerido"/><br/>
                                                                            </td>
                                    
                                                                            <td>
                                                                                <h:message for="birthDate"/>
                                                                            </td>
                                                                        </tr>
                                    --> 
                                    <tr>
                                        <td>
                                            Nombre de Usuario:
                                        </td>

                                        <td>
                                            <h:inputText id="userName" value="#{BlogBean.blog.username}"  size="60" required="true" requiredMessage="Requerido" validatorMessage="El nombre de usuario debe ser menor a 15 caractéres">
                                                <f:validateLength maximum="15" />
                                            </h:inputText><br/>
                                        </td>

                                        <td class="validator-message-error">
                                            <h:message for="userName"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Contraseña:
                                        </td>

                                        <td>
                                            <h:inputSecret id="password" value="#{BlogBean.blog.password}" required="true" requiredMessage="Requerido"/>
                                        </td>

                                        <td class="validator-message-error">
                                            <h:message for="password"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Fotografía:
                                        </td>

                                        <td>
                                            <h:inputFile value="#{BlogBean.file}" id="file" />

                                        </td>

                                        <td class="validator-message-error">
                                            <h:message for="file"/>
                                        </td>
                                    </tr>
                                </table>
                                <h:commandButton value="Registrar" styleClass="login" type="submit" actionListener="#{BlogBean.insert}"/>

                                <br/>

                                <h:outputLabel value="#{BlogBean.sucessMessage}" styleClass="succes-msg" rendered="#{BlogBean.sucessMessage ne null}" />
                                <h:outputLabel value="#{BlogBean.errorMessage}" styleClass="error-msg" rendered="#{BlogBean.errorMessage ne null}" />
                            </div>
                        </center>
                    </div><!-- /end page content -->
                </div><!-- /end page content -->
                <ui:include src="/section/footer.xhtml" /> 

            </div><!-- /layout -->

            <!-- Scripts -->
            <ui:include src="/js.xhtml" /> 

        </h:form>
    </h:body>
</html>