<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <ui:include src="/css.xhtml" /> 
        <f:event listener="#{VideoBean.getVideoById}" type="preRenderView" />
        <meta property="og:url" content="http://jjmsoftsolutions.com/faces/sermonDetail.xhtml?id=#{VideoBean.video.idVideo}"/>
        <meta property="og:title" content="#{VideoBean.video.title}"/>
        <meta property="og:image" content="#{VideoBean.video.image}"/>
        <meta property="og:site_name" content="+Q Joven"/>
        <meta property="og:description" content="#{VideoBean.video.description}"/>
    </h:head>
    <h:body>
        <h:form> 
            <div id="layout" class="boxed-margin">
                <ui:include src="/section/menu.xhtml" /> 
                <div class="page-content">			
                    <div class="row clearfix">
                        <ui:include src="/section/logo.xhtml" /> 
                        <div class="grid_12 alpha">
                            <div class="grid_9 alpha posts">
                                <div class="title color6">
                                    <h4>#{VideoBean.video.title}</h4>                           
                                </div>
                                <div class="single_post mbf clearfix">


                                    <div class="meta mb"> 
                                        <!--
                                                                 Expositor  <a href="#">#{VideoBean.video.idExponent.firstName}</a>  / #{VideoBean.video.videoDate}          
                         
                                        -->
                                    </div>


                                    <div id="video-facebook">
                                        <div class="fb-share-button" data-href="http://jjmsoftsolutions.com/Predicas?id=#{VideoBean.video.idVideo}" data-width="200" data-type="button_count"></div>
                                        <!-- Place this tag where you want the share button to render. -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://jjmsoftsolutions.com/Predicas?id=#{VideoBean.video.idVideo}" data-text="#{VideoBean.video.title}" data-via="QJoven" data-lang="es" data-hashtags="+QJoven">Twittear</a>
                                       
                                        <div class="g-plus" data-action="share" data-href="http://jjmsoftsolutions.com/Predicas?id=#{VideoBean.video.idVideo}" ></div>

                                        
                                       
                                    </div> 


                                    <div class="video-youtube">

                                        <video id="example_video_1" class="video-js vjs-default-skin video-center" controls="none" width="720" height="360"
                                               data-setup='{"techOrder":["youtube","html5"],"ytcontrols":false}'>
                                            <source src="#{VideoBean.video.url}" type='video/youtube' />
                                        </video>    
                                    </div>


                                    <div class="postinfo">
                                        <div class="date-post"><span>12<br/>Aug</span></div>
                                        <div class="num-comm">#{VideoBean.video.videoCommentsList.size()}</div>
                                        <!--
                                        <div class="facebook-custom">
                                            
                                            <span class="selection">
                                        
                                                
                                            </span>
                                        </div>-->
                                    </div>



                                    <br/><br/><br/>


                                </div>



                                <p> 
                                    #{VideoBean.video.description}
                                </p>

                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <div id="comments-wrap">
                                    <h4 class="heading">#{VideoBean.video.videoCommentsList.size()} Comentario(s)</h4>


                                    <ol class="commentlist">
                                        <ui:repeat value="#{VideoBean.video.videoCommentsList}" var="comment" varStatus="status">

                                            <div class="comment-author">

                                                <c:choose>
                                                    <c:when  test="#{login.isLogin}">                                                                
                                                        <ui:fragment rendered="#{comment.email.email eq login.user.email}">
                                                            <h:link outcome="profile" value="#{comment.email.username}">
                                                                <f:param name="id" value="#{comment.email.email}" />
                                                                <f:param name="sermon" value="3" />
                                                                <f:param name="post" value="3" />
                                                            </h:link>
                                                        </ui:fragment>

                                                        <ui:fragment rendered="#{comment.email.email ne login.user.email}">

                                                            <h:link outcome="profile2" value="#{comment.email.username}">
                                                                <f:param name="id" value="#{comment.email.email}" />
                                                                <f:param name="sermon" value="3" />
                                                                <f:param name="post" value="3" />
                                                            </h:link>
                                                        </ui:fragment>
                                                    </c:when>
                                                    <c:otherwise>          

                                                        <h:link outcome="profile2" value="#{comment.email.username}">
                                                            <f:param name="id" value="#{comment.email.email}" />
                                                            <f:param name="sermon" value="3" />
                                                            <f:param name="post" value="3" />
                                                        </h:link>
                                                    </c:otherwise>
                                                </c:choose>

                                                <span class="comment-meta-1 comment-date"> el día #{comment.dateInWords}</span>

                                            </div>



                                            <li class="comment even thread-even depth-1" id="li-comment-1">
                                                <ui:fragment rendered="#{comment.email.picture.trim().length() == 0}">
                                                    <div class="avatar1">
                                                        <img alt='' src='resources/images/avatar1.jpg' /> 
                                                    </div>
                                                </ui:fragment>

                                                <ui:fragment rendered="#{comment.email.picture.trim().length() > 0}">
                                                    <div class="avatar1">
                                                        <img alt='' src='#{comment.email.picture}'  />      
                                                    </div>  
                                                </ui:fragment>


                                                <!--<div class="bubble-bg"></div>-->


                                                <div id="comment-1" class="comment-body clearfix">







                                                    <div class="comment-inner">
                                                        <p>
                                                            #{comment.comment}
                                                        </p>

                                                        <ui:fragment rendered="#{(login.isLogin)}">
                                                            <ui:fragment rendered="#{(login.user.email) ne (comment.email.email) }">


                                                                <span class="comment-denunciar-link-wrap">
                                                                    <div id="commentForm">
                                                                        <h:commandButton value="Denunciar" actionListener="#{VideoBean.postComment}"/>     
                                                                    </div>
                                                                </span>
                                                            </ui:fragment>

                                                            <ui:fragment rendered="#{(login.user.email) eq (comment.email.email)}">
                                                                <span class="comment-reply-link-wrap">
                                                                    <div id="commentForm">
                                                                        <h:commandButton value="Eliminar" actionListener="#{VideoBean.deletePostComment(comment.idVideoComment)}"/>     
                                                                    </div>
                                                                </span>
                                                            </ui:fragment>
                                                        </ui:fragment>
                                                    </div>
                                                </div>                                   
                                            </li>
                                        </ui:repeat>
                                    </ol>
                                </div>			
                                <div id="respond">
                                    <div class="cancel-comment-reply"><a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display:none;">Cancel reply</a></div>
                                    <div id="commentform">
                                        <c:choose>
                                            <c:when  test="#{login.isLogin}">
                                                <h4 class="heading">Déjanos tu comentario</h4>
                                                <h:inputTextarea  value="#{VideoBean.comment.comment}" id="comment"  tabindex="4" style="width: 800px; height: 200px"/>
                                                <br/>
                                                <p>
                                                    <h:commandButton value="Comentar" actionListener="#{VideoBean.postComment}"/>     
                                                </p>
                                            </c:when>
                                            <c:otherwise>
                                                <h4 class="heading">Inicia Sesión para poder comentar</h4>
                                            </c:otherwise>
                                        </c:choose>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="grid_3 omega sidebar sidebar_a">
                                <ui:include src="/section/popularSermon.xhtml" /> 
                            </div>
                        </div>
                    </div>
                </div>
                <ui:include src="/section/footer.xhtml" /> 
            </div>
            <ui:include src="/js.xhtml" /> 
        </h:form>
    </h:body>
</html>