<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">



    <div class="profile_content userprof" >
        <div id="moreactivity_container" class="moreactivity">
            <span id="noresults" class="hiden">Configuración de boletínes</span>
        </div>
    </div>    

    <div id="moreactivity_container" class="security forum_post active"> 
        <div class="header_profile">
            <h:selectBooleanCheckbox value="#{BlogBean.sendEmailSermon }" /> 
            Enviar boletín prédicas
        </div>

        <div class="header_profile">
            <h:selectBooleanCheckbox value="#{BlogBean.sendEmailEvent }" /> 
            Enviar boletín eventos
        </div>

        <div class="header_profile">
            <h:selectBooleanCheckbox value="#{BlogBean.sendEmailCuriosity }" /> 
            Enviar boletín curiosidades
        </div>

        <div class="header_profile">
            <h:selectBooleanCheckbox value="#{BlogBean.sendEmailPhotos }" /> 
            Enviar boletín fotos
        </div>

        <div class="header_profile">
            <h:selectBooleanCheckbox value="#{BlogBean.sendEmailPost }" /> 
            Enviar boletín post
        </div>

    </div>

    <div style="width: 200px; height: 50px;">
        <ul class="tabs">
            <li>
                <h:outputLink value="#t-3">
                    Anterior
                </h:outputLink> 
            </li>

            <li>
                <h:commandButton value="Registrar" styleClass="insert-login" type="submit" actionListener="#{BlogBean.insert}">
                    <f:ajax execute="@form" render="result" />
                </h:commandButton>


            </li>

        </ul>        
    </div>
    <div style="width: 200px;">

        <h:panelGroup id="result">
            <h:outputText id="msgSuccess" value="#{BlogBean.sucessMessage}" styleClass="succes-msg" rendered="#{BlogBean.sucessMessage ne null}" />
            <h:outputText id="msgError" value="#{BlogBean.errorMessage}" styleClass="error-msg" rendered="#{BlogBean.errorMessage ne null}" />
        </h:panelGroup>

    </div>


</ui:composition>