<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">






        <div id="moreactivity_container" class="moreactivity">
            <span id="noresults" class="hiden">Datos Personales</span>
        </div>


        <div id="moreactivity_container" class="security forum_post active">  
            <div class="header_profile">
                Nombre:
            </div>
            <h:inputText id="name" value="#{BlogBean.blog.name}" size="40"></h:inputText>
          
        </div>

        <div id="moreactivity_container" class="security forum_post active">
            <div class="header_profile">
                Primer Apellido:
            </div>
            <h:inputText id="firstName" value="#{BlogBean.blog.firstName}" size="40" ></h:inputText>

     
        </div>





        <div id="moreactivity_container" class="security forum_post active">
            <div class="header_profile">
                Segundo Apellido:
            </div>
            <h:inputText id="secondLastName" value="#{BlogBean.blog.lastName}" size="40" ></h:inputText>

  

        </div>


        <div id="moreactivity_container" class="security forum_post active">
            <div class="header_profile">
                Correo Electrónico:
            </div>


            <h:inputText id="email" value="#{BlogBean.blog.email}" size="40" ></h:inputText>

  

        </div>

        <div id="moreactivity_container" class="security forum_post active">
            <div class="header_profile">
                Género:
            </div>
            <h:selectOneMenu id="gender" value="#{BlogBean.blog.gender}" >
                <f:selectItem itemValue="" itemLabel="Seleccionar" />
                <f:selectItem itemValue="F" itemLabel="Femenino" />
                <f:selectItem itemValue="M" itemLabel="Masculino" />
            </h:selectOneMenu>

       

        </div>

        <div id="moreactivity_container" class="security forum_post active">
            <div class="header_profile">
                Nombre de Usuario:
            </div>
            <h:inputText id="userName" value="#{BlogBean.blog.username}"  size="40" ></h:inputText>
        </div>


        <div id="moreactivity_container" class="security forum_post active">
            <div class="header_profile">
                Contraseña:
            </div>
            <h:inputSecret id="password" value="#{BlogBean.blog.password}" />


        </div>

        <div id="moreactivity_container" class="security forum_post active">
            <div class="header_profile">
                Fotografía:
            </div>
            <h:inputFile value="#{BlogBean.file}" id="file" />
        </div>
        <!--
                                            <h:commandButton value="Registrar" styleClass="login" >
                                                   <f:ajax execute="@form" render="msgname msgFirstName msgsecondLastName msgEmail msgGender msgUserName msgPassword result" />
        
                                            </h:commandButton>
        -->

        <ul class="tabs right-tab">

            <li>
                <h:outputLink value="#t-3">
                    Siguiente
                </h:outputLink> 
            </li>
        </ul>


</ui:composition>