<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="profile_content userprof" >
        <div id="moreactivity_container" class="moreactivity">
            <span id="noresults" class="hiden">Configuración de seguridad</span>
        </div>
        <div>
            <div style="float: left">
                <div id="moreactivity_container" class="security forum_post active"> 
                    <div class="header_profile">
                        Mostrar correo electrónico:
                    </div>
                    <h:selectOneMenu value="#{BlogBean.security.showEmail}">
                        <f:selectItem itemValue="3" itemLabel="Solo yo" />
                        <f:selectItem itemValue="1" itemLabel="Todos" />
                        <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->
                    </h:selectOneMenu>
                </div>

                <div id="moreactivity_container" class="security forum_post active">           
                    <div class="header_profile">
                        Mostrar teléfono:
                    </div>

                    <h:selectOneMenu value="#{BlogBean.security.showPhone}">
                        <f:selectItem itemValue="3" itemLabel="Solo yo" />
                        <f:selectItem itemValue="1" itemLabel="Todos" />
                        <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->

                    </h:selectOneMenu>
                </div>

                <div id="moreactivity_container" class="security forum_post active">           
                    <div class="header_profile">
                        Mostrar Perfil:
                    </div>


                    <h:selectOneMenu value="#{BlogBean.security.showProfile}">
                        <f:selectItem itemValue="3" itemLabel="Solo yo" />
                        <f:selectItem itemValue="1" itemLabel="Todos" />
                        <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->

                    </h:selectOneMenu>
                </div>

                <div id="moreactivity_container" class="security forum_post active">    
                    <div class="header_profile">
                        Mostrar Actividad:
                    </div>

                    <h:selectOneMenu value="#{BlogBean.security.showActivity}">
                        <f:selectItem itemValue="3" itemLabel="Solo yo" />
                        <f:selectItem itemValue="1" itemLabel="Todos" />
                        <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->

                    </h:selectOneMenu>
                </div>

                <div id="moreactivity_container" class="security forum_post active">   
                    <div class="header_profile">
                        Mostrar Última Conección:
                    </div>

                    <h:selectOneMenu value="#{BlogBean.security.showLastConnection}">
                        <f:selectItem itemValue="3" itemLabel="Solo yo" />
                        <f:selectItem itemValue="1" itemLabel="Todos" />
                        <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->

                    </h:selectOneMenu>
                </div>

                <div id="moreactivity_container" class="security forum_post active">   
                    <div class="header_profile">
                        Mostrar Nombre:
                    </div>

                    <h:selectOneMenu value="#{BlogBean.security.showName}">
                        <f:selectItem itemValue="3" itemLabel="Solo yo" />
                        <f:selectItem itemValue="1" itemLabel="Todos" />
                        <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->

                    </h:selectOneMenu>
                </div>
            </div>

            <div style="float: right">
                <div id="moreactivity_container" class="security forum_post active">   
                    <div class="header_profile">
                        Mostrar Primer Apellido:
                    </div>

                    <h:selectOneMenu value="#{BlogBean.security.showFirstName}">
                        <f:selectItem itemValue="3" itemLabel="Solo yo" />
                        <f:selectItem itemValue="1" itemLabel="Todos" />
                        <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->

                    </h:selectOneMenu>
                </div>

                <div id="moreactivity_container" class="security forum_post active"> 
                    <div class="header_profile">
                        Mostrar Segundo Apellido:
                    </div>

                    <h:selectOneMenu value="#{BlogBean.security.showSecondLastName}">
                        <f:selectItem itemValue="3" itemLabel="Solo yo" />
                        <f:selectItem itemValue="1" itemLabel="Todos" />
                        <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->

                    </h:selectOneMenu>
                </div>

                <div id="moreactivity_container" class="security forum_post active">     
                    <div class="header_profile">
                        Mostrar Género:
                    </div>

                    <h:selectOneMenu value="#{BlogBean.security.showGender}">
                        <f:selectItem itemValue="3" itemLabel="Solo yo" />
                        <f:selectItem itemValue="1" itemLabel="Todos" />
                        <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->

                    </h:selectOneMenu>
                </div>

                <div id="moreactivity_container" class="security forum_post active"> 
                    <div class="header_profile">
                        Mostrar Fecha de Cumpleaños:
                    </div>

                    <h:selectOneMenu value="#{BlogBean.security.showBirthDate}">
                        <f:selectItem itemValue="3" itemLabel="Solo yo" />
                        <f:selectItem itemValue="1" itemLabel="Todos" />
                        <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->

                    </h:selectOneMenu>
                </div>

                <div id="moreactivity_container" class="security forum_post active">  
                    <div class="header_profile">
                        Mostrar status de conección:
                    </div>

                    <h:selectOneMenu value="#{BlogBean.security.showStatusConecction}">
                        <f:selectItem itemValue="3" itemLabel="Solo yo" />
                        <f:selectItem itemValue="1" itemLabel="Todos" />
                        <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->

                    </h:selectOneMenu>
                </div>
            </div>


        </div>
        <div style="width: 200px; height: 310px;">
            <ul class="tabs">




                <li>
                    <h:outputLink value="#t-1">
                        Anterior
                    </h:outputLink> 
                </li>

                <li>
                    <h:outputLink value="#t-4">
                        Siguiente
                    </h:outputLink> 
                </li>
            </ul>        
        </div>
    </div>
</ui:composition>