<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="widget">
        <div class="facebook-toogle">
            <div class="bg_light" style="width: 270px;">
                <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fmasquejoven&amp;width=250&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=821529147862821" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:270px; height:550px;" allowTransparency="true;" background="#FFFFFF"></iframe>
            </div>
        </div>

    </div>
</ui:composition>