<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <footer id="footer">
        <!--
        <div class="row clearfix">
            <div class="grid_3">
                <div class="widget">
                    <div class="title">
                        <h4>About iPress</h4>                                                                                                                    
                    </div>
                    <p> 
                        iPress is a magazine/blog/ad/review template. Nunc montes odio phasellus dignissim, aenean, nec augue velit integer elementum ut montes quis integer cursus, est purus, lectus duis, scelerisque tincidunt ultricies phasellus elementum turpis tristique.
                        <br/><br/>Email:	<a href="contact.html">information@ipress.com</a> 
                    </p>
                </div>
            </div>

            <div class="grid_3">
                <div class="widget">
                    <div class="title"><h4>Recent Posts</h4></div>
                    <ul class="small_posts">
                        <li class="clearfix">
                            <a class="s_thumb hover-shadow" href="single_post.html"><img width="70" height="70" src="images/assets/thumb4.jpg" alt="#"/></a>
                            <h3><a href="single_post.html">What is the worst could be the worst?</a></h3>
                            <div class="meta mb"> 1 day ago  /  <a href="single_post.html">1 comment</a> </div>
                        </li>
                        <li class="clearfix">
                            <a class="s_thumb hover-shadow" href="single_post.html"><img width="70" height="70" src="images/assets/thumb5.jpg" alt="#"/></a>
                            <h3><a href="single_post.html">Praesent ipsum adipiscing mi eget ipsum</a></h3>
                            <div class="meta mb"> 3 days ago  /  <a href="single_post.html">3 comments</a> </div>
                        </li>
                        <li class="clearfix">
                            <a class="s_thumb hover-shadow" href="single_post.html"><img width="70" height="70" src="images/assets/thumb6.jpg" alt="#"/></a>
                            <h3><a href="single_post.html">Paul Thomson on post with SoundCloud</a></h3>
                            <div class="meta mb"> 6 days ago  /  <a href="single_post.html">5 comments</a> </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="grid_3">
                <div class="widget">
                    <div class="title"><h4>Best Reviews</h4></div>
                    <ul class="small_posts">
                        <li class="clearfix">
                            <a class="s_thumb hover-shadow" href="single_post.html"><img width="70" height="70" src="images/assets/thumb13.jpg" alt="#"/></a>
                            <h3><a href="single_post.html">What is the worst could be the worst?</a></h3>
                            <div class="meta mb"> <a class="cat color1" href="#" title="View all posts under Entertainment">Entertainment</a><span class="post_rating" href="#" title="Rating">8.89</span> </div>
                        </li>
                        <li class="clearfix">
                            <a class="s_thumb hover-shadow" href="single_post.html"><img width="70" height="70" src="images/assets/thumb12.jpg" alt="#"/></a>
                            <h3><a href="single_post.html">Praesent ipsum adipiscing mi eget ipsum</a></h3>
                            <div class="meta mb"> <a class="cat color3" href="#" title="View all posts under News">News</a><span class="post_rating" href="#" title="Rating">8.1</span> </div>
                        </li>
                        <li class="clearfix">
                            <a class="s_thumb hover-shadow" href="single_post.html"><img width="70" height="70" src="images/assets/thumb11.jpg" alt="#"/></a>
                            <h3><a href="single_post.html">Paul Thomson on post with SoundCloud</a></h3>
                            <div class="meta mb"> <a class="cat color4" href="#" title="View all posts under Sports">Sports</a><span class="post_rating" href="#" title="Rating">7.95</span> </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="grid_3">
                <div class="widget">
                    <div class="title"><h4>Newsletters</h4></div>
                    <p> To receive the latest updates and Latest Posts enter your email. </p>
                    <form id="newsletters" method="post" action="http://feedburner.google.com/fb/a/mailverify" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=sevenpsd', 'popupwindow', 'scrollbars=yes,width=550,height=520');
                            return true">
                        <input type="email" onfocus="if (this.value == 'Type Your Email')
                                    this.value = '';" onblur="if (this.value == '')
                                                this.value = 'Type Your Email';" value="Type Your Email" placeholder="Type Your Email" required="required"/>
                        <button type="submit"><i class="icon-checkmark"></i></button>
                    </form>
                </div>

                <div class="widget">
                    <div class="title"><h4>Follow us</h4></div>
                    <div class="social">
                        <a href="#" class="toptip" title="Twitter"><i class="fa-twitter"></i></a>
                        <a href="#" class="toptip" title="Facebook"><i class="fa-facebook"></i></a>
                        <a href="#" class="toptip" title="Google Plus"><i class="fa-google-plus"></i></a>
                        <a href="#" class="toptip" title="Linkedin"><i class="fa-linkedin"></i></a>
                        <a href="#" class="toptip" title="Github"><i class="fa-github"></i></a>
                        <a href="#" class="toptip" title="instagram"><i class="fa-instagram"></i></a>
                        <a href="#" class="toptip" title="Dribbble"><i class="fa-dribbble"></i></a>
                    </div>
                </div>
            </div>

        </div>
        -->
        <div class="row clearfix">
            <div class="footer_last">
                <span class="copyright">
                    2014 CCI Vida Abundante +Q Joven. All Rights Reserved. Powered by <a href="">Jonathan Jara Morales</a>.</span>

                <div id="toTop" class="toptip" title="Ir al inicio"><i class="fa-hand-o-up"></i></div>
            </div><!-- /last footer -->
        </div><!-- /row -->

    </footer><!-- /footer -->


    <h:outputScript library="js" name="youmax.min.js" />
</ui:composition>