<div class="a_head">
    <div class="row clearfix">
        <div class="breaking_news lefter">
            <div class="freq_out">
                <div class="freq"><div class="inner_f"></div><div id="layerBall"></div></div>
            </div><!-- /freq -->
            <ul id="js-news" class="js-hidden">
                <li class="news-item"><a href="#">Improving Search on the Envato Marketplaces: 2013 in Review</a></li>
                <li class="news-item"><a href="#">4 Ways To Find Free and Unique Photos for Your Next Website Theme</a></li>
                <li class="news-item"><a href="#">Community Poll: Internet Speeds From Around the World in 2013</a></li>
                <li class="news-item"><a href="#">New Hub, Header  Collections: 10 Ways to Improve Your Marketplaces Productivity</a></li>
                <li class="news-item"><a href="#">Get a Free Year of Tuts+ Premium by Trying New Relic</a></li>
                <li class="news-item"><a href="#">Beyond Bland: 10+ Creative Packaging Designs That Will Leave You Inspired</a></li>
            </ul><!-- /js news -->
        </div><!-- /breaking news -->

        <div class="right_bar">
            <div class="lang">
                <a class="activated_lang" href="#"><img src="images/flag/us.png" alt="EN"/></a>
                <div class="more_lang">
                    <a href="#"><img src="images/flag/gr.png" alt=""/></a>
                    <a href="#"><img src="images/flag/fr.png" alt=""/></a>
                </div><!-- /more lang -->
            </div><!-- /lang -->

            <div class="social social_head">
                <a href="#" class="bottomtip" title="Twitter"><i class="fa-twitter"></i></a>
                <a href="#" class="bottomtip" title="Facebook"><i class="fa-facebook"></i></a>
                <a href="#" class="bottomtip" title="Google Plus"><i class="fa-google-plus"></i></a>
                <a href="#" class="bottomtip" title="Linkedin"><i class="fa-linkedin"></i></a>
                <a href="#" class="bottomtip" title="Github"><i class="fa-github"></i></a>
                <a href="#" class="bottomtip" title="instagram"><i class="fa-instagram"></i></a>
                <a href="#" class="bottomtip" title="Dribbble"><i class="fa-dribbble"></i></a>
            </div><!-- /social -->

            <span id="date_time"></span><!-- /date -->
        </div><!-- /right bar -->
    </div><!-- /row -->
</div><!-- /a head -->