<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:form>        
        <center>
            <div class="form">
                <p>
                    Usuario<br/>
                    <h:inputText value="#{login.name}" id="userLogin"/>
                </p>
                <p>
                    Contraseña<br/>
                    <h:inputSecret value="#{login.password}" id="passwordLogin"/>
                </p>
                <!--  <h:button value="Registrarse" outcome="register" styleClass="login" class="login-window"/> -->


                <a href="#login-box" class="login-window" onclick="hideRegister();">Registrarse</a>
                <h:commandButton value="Ingresar" styleClass="login" actionListener="#{login.login}"/>
            </div>
        </center>

    </h:form>
</ui:composition>