<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="ads">
        <div class = "img-text">
            <img src="http://162.253.126.108/~ucbdpdbn/public/img/logo/+Q.png" alt="" width="50px"/>
        </div>
        <div class = "img-text">
            Iglesia Vida Abundante - <span>Red Juvenil</span>
        </div>
    </div><!-- /ads -->
</ui:composition>