<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <header id="header">

        <ui:include src="/section/sideBar.xhtml" />



        <div class="row clearfix">
            <div class="sticky_true">
                <div class="c_head clearfix">
                    <nav>
                        <ul class="sf-menu">                      

                            <c:choose>
                                <c:when  test="#{PageBean.selectedBean == '/index.xhtml'}">
                                    <li class="current color7">  

                                        <h:link outcome="index" >
                                            <i class="fa-home"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Inicio" />
                                        </h:link>                                    
                                    </li>
                                </c:when>
                                <c:otherwise>
                                    <li class="color7">   
                                        <h:link outcome="index" >
                                            <i class="fa-home"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Inicio" />
                                        </h:link>                                    
                                    </li>
                                </c:otherwise>
                            </c:choose>

                            <c:choose>
                                <c:when  test="#{PageBean.selectedBean == '/events.xhtml' or PageBean.selectedBean == '/eventDetail.xhtml'}">
                                    <li class="current color3">
                                        <h:link outcome="events" >                                    
                                            <f:param name="end" value="3" />
                                            <i class="fa-table"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Eventos" />
                                        </h:link>         
                                    </li>
                                </c:when>
                                <c:otherwise>
                                    <li class="color3">
                                        <h:link outcome="events" >                                    
                                            <f:param name="end" value="3" />
                                            <i class="fa-table"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Eventos" />
                                        </h:link>         
                                    </li>
                                </c:otherwise>
                            </c:choose>

                            <c:choose>
                                <c:when  test="#{PageBean.selectedBean == '/sermon.xhtml' or PageBean.selectedBean == '/sermonDetail.xhtml'}">
                                    <li class="current color6">
                                        <h:link outcome="sermon"  >                                    
                                            <f:param name="end" value="#{PropertiesBean.allProperties.sermonPagination}" />
                                            <i class="fa-film"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Prédicas" />
                                        </h:link>         
                                    </li>
                                </c:when>
                                <c:otherwise>
                                    <li class="color6">
                                        <h:link outcome="sermon"  >                                    
                                             <f:param name="end" value="#{PropertiesBean.allProperties.sermonPagination}" />
                                            <i class="fa-film"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Prédicas" />
                                        </h:link>         
                                    </li>
                                </c:otherwise>
                            </c:choose>



                            <c:choose>
                                <c:when  test="#{PageBean.selectedBean == '/music.xhtml'}">
                                    <li class="current color1">
                                        <h:link outcome="music" >                                    
                                            <f:param name="end" value="3" />
                                            <i class="fa-music"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Música" />
                                        </h:link>         
                                    </li>
                                </c:when>
                                <c:otherwise>
                                    <li class="color1">
                                        <h:link outcome="music" >                                    
                                            <f:param name="end" value="3" />
                                            <i class="fa-music"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Música" />
                                        </h:link>         
                                    </li>
                                </c:otherwise>
                            </c:choose>

                            <c:choose>
                                <c:when  test="#{PageBean.selectedBean == '/albumPhotos.xhtml' or PageBean.selectedBean == '/photos.xhtml'}">
                                    <li class="current color5">
                                        <h:link outcome="albumPhotos" >                                    
                                            <f:param name="end" value="3" />
                                            <i class="fa-photo"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Fotos" />
                                        </h:link>         
                                    </li>
                                </c:when>
                                <c:otherwise>
                                    <li class="color5">
                                        <h:link outcome="albumPhotos" >                                    
                                            <f:param name="end" value="3" />
                                            <i class="fa-photo"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Fotos" />
                                        </h:link>         
                                    </li>
                                </c:otherwise>
                            </c:choose>


                            <c:choose>
                                <c:when  test="#{PageBean.selectedBean == '/mision.xhtml' or PageBean.selectedBean == '/vision.xhtml' or PageBean.selectedBean == '/contact.xhtml'}">
                                    <li class="current color3">
                                        <h:link outcome="albumPhotos" >                                    
                                            <f:param name="end" value="3" />
                                            <i class="fa-globe"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Nosotros" />
                                        </h:link>     
                                        <ul>
                                            <li><a href="mision.xhtml"><i class="fa-check"></i>Misión</a></li>
                                            <li><a href="vision.xhtml"><i class="fa-check"></i>Visión</a></li>
                                            <li><a href="contact.xhtml"><i class="fa-envelope"></i>Contactanos</a></li>                           
                                            <li><a href="#"><i class="fa-gift"></i>Acción Social</a>
                                                <ul>
                                                    <li><a href="#"><i class="fa-cutlery"></i>Recolección de Víveres</a></li> 
                                                    <!--<li><a href="#">Example 2</a>
                                                        <ul>
                                                            <li><a href="#">Example 1</a></li>
                                                            <li><a href="#">Example 2</a></li>
                                                        </ul>
                                                    </li>-->
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </c:when>
                                <c:otherwise>
                                    <li class="color3">
                                        <h:link outcome="albumPhotos" >                                    
                                            <f:param name="end" value="3" />
                                            <i class="fa-globe"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Nosotros" />
                                        </h:link>   
                                        <ul>
                                            <li><a href="mision.xhtml"><i class="fa-check"></i>Misión</a></li>
                                            <li><a href="vision.xhtml"><i class="fa-check"></i>Visión</a></li>
                                            <li><a href="contact.xhtml"><i class="fa-envelope"></i>Contactanos</a></li>                           
                                            <li><a href="#"><i class="fa-gift"></i>Acción Social</a>
                                                <ul>
                                                    <li><a href="#"><i class="fa-cutlery"></i>Recolección de Víveres</a></li> 
                                                    <!--<li><a href="#">Example 2</a>
                                                        <ul>
                                                            <li><a href="#">Example 1</a></li>
                                                            <li><a href="#">Example 2</a></li>
                                                        </ul>
                                                    </li>-->
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </c:otherwise>
                            </c:choose>


                            <c:choose>
                                <c:when  test="#{PageBean.selectedBean == '/celula.xhtml'}">
                                    <li class="current color2">
                                        <h:link outcome="celula" >                                    
                                            <f:param name="end" value="3" />
                                            <i class="fa-book"></i>    
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Mi Célula" />
                                        </h:link>         
                                    </li>
                                </c:when>
                                <c:otherwise>
                                    <li class="color2">
                                        <h:link outcome="celula" >                                    
                                            <f:param name="end" value="3" />
                                            <i class="fa-book"></i>   
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Mi Célula" />
                                        </h:link>         
                                    </li>
                                </c:otherwise>
                            </c:choose>


                            <c:choose>
                                <c:when  test="#{PageBean.selectedBean == '/blog.xhtml'}">
                                    <li class="current color3">
                                        <h:link outcome="blog" >                                    
                                            <f:param name="end" value="3" />
                                            <i class="fa-table"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Blog" />
                                        </h:link>         
                                    </li>
                                </c:when>
                                <c:otherwise>
                                    <li class="color3">
                                        <h:link outcome="blog" >                                    
                                            <f:param name="end" value="3" />
                                            <i class="fa-table"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Blog" />
                                        </h:link>         
                                    </li>
                                </c:otherwise>
                            </c:choose>

                            <c:choose>
                                <c:when  test="#{PageBean.selectedBean == '/mimo.xhtml' or PageBean.selectedBean == '/coreografia.xhtml'}">
                                    <li class="current color5">
                                        <h:link  >                                                                    
                                            <i class="fa-globe"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Ministerios" />
                                        </h:link> 

                                        <ul>
                                            <li><a href="#"><i class="fa-check"></i>Mimo</a></li>
                                            <li><a href="/coreografia.xhtml"><i class="fa-check"></i>Coreografía</a></li>
                                        </ul>
                                    </li>
                                </c:when>
                                <c:otherwise>
                                    <li class="color5">
                                        <h:link  >                                                                    
                                            <i class="fa-globe"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Ministerios" />
                                        </h:link>   
                                        <ul>
                                            <li><a href="#"><i class="fa-check"></i>Mimo</a></li>
                                            <li> 
                                                <h:link outcome="coreografia" >
                                                    <i class="fa-check"></i>
                                                    <h:outputLabel value="Coreografía" />
                                                </h:link>
                                            </li>
                                        </ul>
                                    </li>
                                </c:otherwise>
                            </c:choose>

                            <!---->
                            <c:choose>
                                <c:when  test="#{PageBean.selectedBean == '/admin.xhtml'}">
                                    <li class="current color2">
                                        <h:link  outcome="admin">  
                                            <f:param name="end" value="3" />
                                            <i class="fa-globe"></i>  
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Admin" />
                                        </h:link> 

                                    </li>
                                </c:when>
                                <c:otherwise>
                                    <li class="color2">
                                        <h:link  outcome="admin">                                                                    
                                            <i class="fa-globe"></i>  
                                            <f:param name="end" value="3" />
                                            <h:outputText value="&#160;" />
                                            <h:outputText value="&#160;" />
                                            <h:outputLabel value="Admin" />
                                        </h:link>   

                                    </li>
                                </c:otherwise>
                            </c:choose>






                            <!---->

                            <!--
                            <li class="color2"><a href="category.html">Travel</a>
                                <ul class="col4 mega">
                                    <li class="col1">
                                        <a href="single_post.html">
                                            <img src="images/assets/m_1.jpg" alt="#" title="#"/>
                                            <h4> Here's What Instagram Ads Will Look Like </h4>
                                        </a>
                                    </li>
                                    <li class="col1">
                                        <a href="single_post.html">
                                            <img src="images/assets/m_2.jpg" alt="#" title="#"/>
                                            <h4> Lorem Ipsum is simply dummy text </h4>
                                        </a>
                                    </li>
                                    <li class="col1">
                                        <a href="single_post.html">
                                            <img src="images/assets/m_3.jpg" alt="#" title="#"/>
                                            <h4> What do you think about our website </h4>
                                        </a>
                                    </li>
                                    <li class="col1">
                                        <a href="single_post.html">
                                            <img src="images/assets/m_4.jpg" alt="#" title="#"/>
                                            <h4> Printer took a galley of type and scrambled </h4>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="color3"><a href="category.html">People</a>
                                <ul class="col4 mega">
                                    <li class="col1">
                                        <a href="single_post.html">
                                            <img src="images/assets/m_1.jpg" alt="#" title="#"/>
                                            <h4> Here's What Instagram Ads Will Look Like </h4>
                                        </a>
                                    </li>
                                    <li class="col1">
                                        <a href="single_post.html">
                                            <img src="images/assets/m_2.jpg" alt="#" title="#"/>
                                            <h4> Lorem Ipsum is simply dummy text </h4>
                                        </a>
                                    </li>
                                    <li class="col1">
                                        <a href="single_post.html">
                                            <img src="images/assets/m_3.jpg" alt="#" title="#"/>
                                            <h4> What do you think about our website </h4>
                                        </a>
                                    </li>
                                    <div class="col1">
                                        <li><a href="#">Example 1</a></li>
                                        <li><a href="#">Example 2</a></li>
                                        <li><a href="#">Example 3</a></li>
                                        <li><a href="#">Example 4</a></li>
                                        <li><a href="#">Example 5</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li class="color4"><a href="category.html">Sports</a>
                                <ul class="col4 mega">
                                    <div class="col1">
                                        <li><a href="#">Example 1</a></li>
                                        <li><a href="#">Example 2</a></li>
                                        <li><a href="#">Example 3</a></li>
                                        <li><a href="#">Example 4</a></li>
                                        <li><a href="#">Example 5</a></li>
                                    </div>
                                    <div class="col1">
                                        <li><a href="#">Example 6</a></li>
                                        <li><a href="#">Example 7</a></li>
                                        <li><a href="#">Example 8</a></li>
                                        <li><a href="#">Example 9</a></li>
                                        <li><a href="#">Example 10</a></li>
                                    </div>
                                    <div class="col1">
                                        <li><a href="#">Example 11</a></li>
                                        <li><a href="#">Example 12</a></li>
                                        <li><a href="#">Example 13</a></li>
                                        <li><a href="#">Example 14</a></li>
                                        <li><a href="#">Example 15</a></li>
                                    </div>
                                    <div class="col1">
                                        <li><a href="#">Example 16</a></li>
                                        <li><a href="#">Example 17</a></li>
                                        <li><a href="#">Example 18</a></li>
                                        <li><a href="#">Example 19</a></li>
                                        <li><a href="#">Example 20</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li class="color5"><a href="category.html">Music</a></li>
                            <li class="color6"><a href="category.html">TV</a></li>
                            <li class="color7"><a href="category.html">Entertainment</a></li>
                            <li class="color8"><a href="contact.html">Contact</a></li>-->
                        </ul>
                    </nav><!-- /nav -->

                    <div class="right_icons">
                        <div id="topbar_login" class="not_logged_in">                           
                            <c:choose>                                    
                                <c:when  test="#{login.isLogin}">
                                    <a class="topbar_login" href="#">
                                        <div>
                                            <div class="image-menu">
                                                <img alt="" src="#{GeneralBean.pictureBlog}" class="avatar avatar-35 photo" height="35" width="35"/>

                                            </div>

                                            #{login.user.username}                              
                                            <span class="sf-sub-indicator"> </span>     
                                        </div>

                                    </a>
                                    <div id="fast-login" class="access-info-box">
                                        <h:form>
                                            <div class="form">
                                                <center>
                                                    <h:commandButton value="Ver Perfil" styleClass="login" actionListener="#{login.profile}"/> 
                                                    <br/>                             
                                                    <h:commandButton value="Salir" styleClass="login" actionListener="#{login.logout}"/>
                                                </center>
                                            </div>
                                        </h:form>
                                    </div>
                                </c:when>
                                <c:otherwise> 
                                    <a class="topbar_login" href="#" id="login-div">
                                        <i class="fa-user">
                                        </i>                        
                                        <span class="sf-sub-indicator"> </span>
                                    </a>
                                    <div id="fast-login" class="access-info-box">
                                        <ui:include src="/section/login.xhtml" /> 
                                    </div>
                                </c:otherwise>
                            </c:choose>


                        </div>
                    </div>
                </div><!-- /c head -->
            </div><!-- /sticky -->
        </div><!-- /row -->
    </header><!-- /header -->

    <ui:include src="/registerDialog.xhtml" /> 
</ui:composition>