<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <div class="widget">
        <div class="title">
            <h4>Prédicas Recomendadas</h4>
        </div>
        <div class="small_slider_hots owl-carousel owl-theme">
            <div class="item clearfix">
                <ul class="small_posts">
                    <ui:repeat value="#{VideoBean.popularSermon}" var="video" varStatus="status">
                        <ui:fragment rendered="#{(((status.index)+1) gt 0 and ((status.index)+1)lt 5)}">
                            <li class="clearfix">

                                <h:link outcome="sermonDetails" styleClass="s_thumb hover-shadow" >
                                    <f:param name="id" value="#{video.idVideo}" />
                                    <img width="70" height="70" src="#{video.image}" alt="#"/>
                                    <span>#{(status.index)+1}</span>
                                </h:link>


                                <h3>
                                    <a href="Predicas?id=#{video.idVideo}">#{video.title}</a>


                                </h3>
                                <div class="meta mb">                                    
                                    <a class="cat color1" href="Predicas?id=#{video.idVideo}">
                                        Comentarios
                                    </a>
                                    <span class="post_rating" href="#" title="Rating">
                                        #{video.videoCommentsList.size()}
                                    </span>
                                </div>
                            </li>
                        </ui:fragment>
                    </ui:repeat>
                </ul>
            </div>

            <ui:fragment rendered="#{VideoBean.popularSermonList.size() gt 4}">
                <div class="item clearfix">
                    <ul class="small_posts">
                        <ui:repeat value="#{VideoBean.popularSermonList}" var="video" varStatus="status">
                            <ui:fragment rendered="#{(((status.index)+1) gt 4)}">
                                <li class="clearfix">
                                    <a class="s_thumb hover-shadow" href="Predicas?id=#{video.idVideo}">
                                        <img width="70" height="70" src="#{video.image}" alt="#"/>
                                        <span>#{(status.index)+1}</span>
                                    </a>
                                    <h3>
                                        <a href="Predicas?id=#{video.idVideo}">#{video.title}</a>
                                    </h3>
                                    <div class="meta mb"> 
                                        <!-- <a class="cat color1" href="#" title="View all posts under Entertainment">
                                        #{post.idPostCategory.name}
                                    </a>
                                        -->
                                        <span class="post_rating" href="#" title="Rating">
                                            #{video.videoCommentsList.size()}
                                        </span>
                                    </div>
                                </li>
                            </ui:fragment>
                        </ui:repeat>
                    </ul>
                </div>
            </ui:fragment>
        </div>
    </div>
</ui:composition>