<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="widget">
        <div class="title"><h4>Recent Comments</h4></div>
        <ul class="recent_comments small_posts">
            <li class="clearfix">
                <a class="s_thumb hover-shadow" href="single_post.html"><img width="80" height="80" src="images/assets/avatar1.jpg" alt="#"/></a>
                <h5><a href="#">Alex Cohn</a>:</h5>
                <p>Lorem Ipsum is simply dummy text of the printing...</p>
            </li>
            <li class="clearfix">
                <a class="s_thumb hover-shadow" href="single_post.html"><img width="80" height="80" src="images/assets/avatar2.jpg" alt="#"/></a>
                <h5><a href="#">Michele</a>:</h5>
                <p>Here's What Instagram Ads Will Look Like...</p>
            </li>
            <li class="clearfix">
                <a class="s_thumb hover-shadow" href="single_post.html"><img width="80" height="80" src="images/assets/avatar3.jpg" alt="#"/></a>
                <h5><a href="#">Admin</a>:</h5>
                <p>Lorem ipsum is dolor sit amet text of the ipsum...</p>
            </li>
            <li class="clearfix">
                <a class="s_thumb hover-shadow" href="single_post.html"><img width="80" height="80" src="images/assets/avatar4.jpg" alt="#"/></a>
                <h5><a href="#">Tomas Giggs</a>:</h5>
                <p>Lorem Ipsum is simply dummy text of the printing...</p>
            </li>
        </ul>
    </div><!-- /widget -->
</ui:composition>