<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <div id="buttonsPlayer">            
        <div id="btn" class="toptip">
            <ul>
                <li class="li-addons facebook" id="s-li" title="Facebook" >  
                    <a href="#" class="togglelink">
                        <p style="color: transparent">
                            PRESSSSSS
                        </p>  
                    </a>
                    <div class="toggle facebook-toogle" style="display: block;">
                        <ui:include src="/section/facebookSocial.xhtml" />
                    </div>
                </li>     
                <li class="li-addons youtube" id="facebook-li" title="Youtube" >  
                    <a href="#" class="togglelink">
                        <p style="color: transparent">
                            PRESSSSSS
                        </p>    
                    </a>
                    <div class="toggle youtube-toogle" style="display: block;">
                        <div id="youmax"></div>

                    </div>
                </li>
                <!--
                <li class="li-addons forum" id="facebook-li" title="Visitar foro" >  
                    <a href="#" class="togglelink">
                       <p style="color: transparent">
                            PRESSSSSS
                        </p>    
                    </a>
                    <div class="toggle" style="display: block;">
                        
                    </div>
                </li>
                -->


            </ul>
        </div>
    </div>
</ui:composition>