<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="widget">
        <ul class="counter clearfix">
            <li class="twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <span> 2545 <br/> Followes </span>
            </li>
            <li class="facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <span> 1317 <br/> Likes </span>
            </li>

        </ul>
    </div><!-- widget -->  
</ui:composition>