<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:panelGroup id="slinderTable">
        <table class="table table-striped table-hover margin-0px slinder-table">
            <thead>
                <tr>
                    <th>Imágen</th>  
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <ui:repeat value="#{PictureAlbumBean.allPictureSlinder}" var="picture" varStatus="status">
                    <tr>
                        <td>
                            <img class="slinder-admin-image" src="#{picture.url}"/>
                        </td>

                        <td class="expand">
                            <div class="btn-admin">
                                <h:commandButton styleClass="edit-btn" value="Editar"/> 
                                <h:outputText value=" " />
                                <h:commandButton styleClass="delete-btn" value="Eliminar" type="submit" actionListener="#{PictureAlbumBean.delete(picture)}">
                                    <f:ajax render=":adminForm:slinderTable" />  
                                </h:commandButton>      
                            </div>
                        </td>
                    </tr>
                </ui:repeat>                                       

            </tbody>
        </table>
    </h:panelGroup>

    <table class="table table-striped table-hover margin-0px slinder-table">
        <tr>
            <td style=" width: 300px;">
                <h:outputLabel styleClass="note-label" value="Presione el botón de agregar, para poder ingresar imágines. *Nota: La imágen debe de poseer un tamaño de 960 x 400 pixeles, para su correcta visualización"/>
            </td>
            <td>
                <a href="#slinder-dialog" class="add-btn" >Agregar</a>   
            </td>
        </tr>
        <tr>
            <h:form>


                <td style=" width: 300px;">
                    <h:outputLabel styleClass="note-label" value="Esta propiedad indica cuantas imágenes se mostraran en la pantalla de inicio"/>
                    <br/>
                    Paginación:
                    <f:event listener="#{PropertiesBean.getSlinderPagination}" type="preRenderView" />
                    <h:inputText size="2" value="#{PropertiesBean.properties.slinderPagination}" >
                                           
                    </h:inputText>

                </td>
                <td>
                    <h:commandButton id="btn-change-slinder-pagination" styleClass="add-btn" value="Cambiar" type="submit" actionListener="#{PropertiesBean.update}" >
                        <f:ajax execute="@form" render=":adminForm:msgPaginationSlinder"  /> 
                    </h:commandButton>             
                </td>
            </h:form>

        </tr>

        <tr>
            <td colspan="2">
                <h:panelGroup id="msgPaginationSlinder">
                    <h:outputText id="msgSuccessPagination" value="#{PropertiesBean.sucessMessage}" styleClass="succes-msg" rendered="#{PropertiesBean.sucessMessage ne null}" />
                    <h:outputText id="msgErrorPagination" value="#{PropertiesBean.errorMessage}" styleClass="error-msg" rendered="#{PropertiesBean.errorMessage ne null}" />
                </h:panelGroup>
            </td>
        </tr>
    </table>


</ui:composition>