<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <div class="profile_content userprof" id="t-1">

        <div id="moreactivity_container" class="moreactivity">
            <span id="noresults" class="hiden">Mis comentarios acerca de las prédicas</span>
        </div>

        <ui:repeat value="#{VideoBean.commentsByBlog}" var="video" varStatus="status">

            <li class="activitybit forum_post active " >
                <div class="avatar">
                    <img src="#{video.idVideo.image}" width="60px" height="60px" alt="Administrator's Avatar" />
                </div>

                <div class="content hasavatar">

                    <div class="datetime">
                        <span class="date">#{video.commentDate}</span>
                    </div>

                    <div class="title">
                        <span>
                            #{video.idVideo.title}
                        </span>

                    </div>

                    <div class="excerpt">
                        #{video.comment}

                    </div>

                    <div class="fulllink">
                        <h:link outcome="sermonDetail" value="Ver publicación">
                            <f:param name="id" value="#{video.idVideo.idVideo}" />
                        </h:link>
                    </div>

                    <div class="views">#{video.idVideo.videoCommentsList.size()} comentario(s)</div>

                </div>

            </li>



        </ui:repeat>

        <div id="pagination_bottom">

            <div class="pagination popupmenu nohovermenu">
                <ui:repeat value="#{VideoBean.totalCommentsVideos}" var="tag" varStatus="status">
                    <ui:fragment rendered="#{tag.selected eq true}">
                        <span class="selected">
                            <!--
                                                        <h:link outcome="profile" value="#{status.index+1}">
                                                            <f:param name="id" value="#{BlogBean.blog.email}" />
                                                            <f:param name="sermon" value="#{tag.number}" />
                                                            <f:param name="post" value="#{GeneralBean.postParameter}" />
                                                        </h:link>
                            -->
                            <c:choose>
                                <c:when  test="#{login.isLogin}">              

                                    <ui:fragment rendered="#{GeneralBean.emailParameter eq login.user.email}">
                                        <h:link outcome="profile" value="#{status.index+1}">
                                            <f:param name="id" value="#{BlogBean.blog.email}" />
                                            <f:param name="sermon" value="#{tag.number}" />
                                            <f:param name="post" value="#{GeneralBean.postParameter}" />
                                        </h:link>
                                    </ui:fragment>

                                    <ui:fragment rendered="#{GeneralBean.emailParameter ne login.user.email}">
                                        <h:link outcome="profile2" value="#{status.index+1}">
                                            <f:param name="id" value="#{BlogBean.blog.email}" />
                                            <f:param name="sermon" value="#{tag.number}" />
                                            <f:param name="post" value="#{GeneralBean.postParameter}" />
                                        </h:link>
                                    </ui:fragment>
                                </c:when>
                                <c:otherwise>          
                                    <h:link outcome="profile2" value="#{status.index+1}">
                                        <f:param name="id" value="#{BlogBean.blog.email}" />
                                        <f:param name="sermon" value="#{tag.number}" />
                                        <f:param name="post" value="#{GeneralBean.postParameter}" />
                                    </h:link>
                                </c:otherwise>
                            </c:choose>
                        </span>
                    </ui:fragment>

                    <ui:fragment rendered="#{tag.selected eq false}">
                        <span>
                            <c:choose>
                                <c:when  test="#{login.isLogin}">              

                                    <ui:fragment rendered="#{GeneralBean.emailParameter eq login.user.email}">
                                        <h:link outcome="profile" value="#{status.index+1}">
                                            <f:param name="id" value="#{BlogBean.blog.email}" />
                                            <f:param name="sermon" value="#{tag.number}" />
                                            <f:param name="post" value="#{GeneralBean.postParameter}" />
                                        </h:link>
                                    </ui:fragment>

                                    <ui:fragment rendered="#{GeneralBean.emailParameter ne login.user.email}">
                                        <h:link outcome="profile2" value="#{status.index+1}">
                                            <f:param name="id" value="#{BlogBean.blog.email}" />
                                            <f:param name="sermon" value="#{tag.number}" />
                                            <f:param name="post" value="#{GeneralBean.postParameter}" />
                                        </h:link>
                                    </ui:fragment>
                                </c:when>
                                <c:otherwise>          
                                    <h:link outcome="profile2" value="#{status.index+1}">
                                        <f:param name="id" value="#{BlogBean.blog.email}" />
                                        <f:param name="sermon" value="#{tag.number}" />
                                        <f:param name="post" value="#{GeneralBean.postParameter}" />
                                    </h:link>
                                </c:otherwise>
                            </c:choose>
                        </span>
                    </ui:fragment>

                </ui:repeat>
            </div>
            <div class="clear"></div>

        </div>




        <ui:repeat value="#{PostBean.commentsByBlog}" var="comment" varStatus="status">

            <ui:fragment rendered="#{status.index == 0}">
                <div id="moreactivity_container" class="moreactivity">
                    <span id="noresults" class="hiden">Mis comentarios acerca de los post</span>
                </div>
            </ui:fragment>
            <li class="activitybit forum_post active " >
                <div class="avatar">
                    <img src="#{comment.idPost.picture}" width="60px" height="60px" alt="Administrator's Avatar" />
                </div>

                <div class="content hasavatar">

                    <div class="datetime">
                        <span class="date">#{comment.commentDate}</span>
                    </div>

                    <div class="title">
                        <span>
                            #{comment.idPost.title}
                        </span>

                    </div>

                    <div class="excerpt">
                        #{comment.comment}
                    </div>

                    <div class="fulllink">
                        <h:link outcome="post" value="Ver publicación">
                            <f:param name="id" value="#{comment.idPost.idPost}" />

                        </h:link>
                    </div>

                    <div class="views">#{comment.idPost.postCommentList.size()} comentario(s)</div>

                </div>

            </li>



        </ui:repeat>

        <div id="pagination_bottom">

            <div class="pagination popupmenu nohovermenu">
                <ui:repeat value="#{PostBean.totalCommentsPost}" var="tag" varStatus="status">
                    <ui:fragment rendered="#{tag.selected eq true}">
                        <span class="selected">
                            <h:link outcome="profile" value="#{status.index+1}">
                                <f:param name="id" value="#{BlogBean.blog.email}" />
                                <f:param name="sermon" value="#{GeneralBean.sermonParameter}" />
                                <f:param name="post" value="#{tag.number}" />
                            </h:link>

                        </span>
                    </ui:fragment>

                    <ui:fragment rendered="#{tag.selected eq false}">
                        <span>
                            <h:link outcome="profile" value="#{status.index+1}">
                                <f:param name="id" value="#{BlogBean.blog.email}" />
                                <f:param name="sermon" value="#{GeneralBean.sermonParameter}" />
                                <f:param name="post" value="#{tag.number}" />
                            </h:link>
                        </span>
                    </ui:fragment>

                </ui:repeat>
            </div>
            
            
            <div class="clear"></div>

        </div>




    </div>


</ui:composition>