<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <h:form enctype="multipart/form-data" id="profileForm">

       

            <div id="moreactivity_container" class="moreactivity">
                <span id="noresults" class="hiden">Cambiar Contraseña</span>
            </div>

            <div id="moreactivity_container" class="security forum_post active">  
                <div class="header_profile">
                    Contraseña Antigua 
                </div>

                <h:inputSecret id="oldPassword" value="#{BlogBean.oldPassword}" required="true" requiredMessage="Requerido"/>
                <h:message for="oldPassword" id="msgOldPassword" styleClass="validator-message-error"/>


            </div>

            <div id="moreactivity_container" class="security forum_post active">  
                <div class="header_profile">
                    Nueva Contraseña: 
                </div>
                <h:inputSecret id="newPassword" value="#{BlogBean.newPassword}" required="true" requiredMessage="Requerido"/> 
                <h:message for="newPassword" id="msgNewPassword" styleClass="validator-message-error"/> 
            </div>

            <div id="moreactivity_container" class="security forum_post active">  
                <div class="header_profile">
                    Repita la Contraseña: 
                </div>
                <h:inputSecret id="revalidatePassword" value="#{BlogBean.revalidatePassword}" required="true" requiredMessage="Requerido"/>      
                <h:message for="revalidatePassword" id="msgRevalidatePassword" styleClass="validator-message-error"/> 
            </div>







             <div id="moreactivity_container" class="update-panel">
                <h:commandButton value="Cambiar" styleClass="cancel-account color-button1" type="submit" actionListener="#{BlogBean.changePassword}">
                    <f:ajax execute="@form" render="msgOldPassword msgNewPassword msgRevalidatePassword msgSlinderPanel" />    <!-- msgNewPassword msgRevalidatePassword-->     
                </h:commandButton>

                <p:ajaxStatus>
                    <f:facet name="start">
                        <div class="loading-profile password-panel">
                            <p>
                                <img src="resources/images/loading.gif" alt="" />                         
                                <h:outputLabel  value="Cargando..." />         
                            </p>
                        </div>
                    </f:facet>
                    <f:facet name="complete">
                        <p>
                            <h:panelGroup id="msgSlinderPanel">
                                <h:outputText value=" " />
                                <h:outputText id="msgSuccess" value="#{BlogBean.sucessMessage}" styleClass="succes-msg" rendered="#{BlogBean.sucessMessage ne null}" />
                                <h:outputText id="msgError" value="#{BlogBean.errorMessage}" styleClass="error-msg" rendered="#{BlogBean.errorMessage ne null}" />
                            </h:panelGroup>
                        </p>
                    </f:facet>
                </p:ajaxStatus>
            </div>

      
    </h:form>
</ui:composition>