<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form enctype="multipart/form-data" >
        <div id="moreactivity_container" class="moreactivity">
            <span id="noresults" class="hiden">Cambiar Fotografía</span>
        </div>
        <div id="moreactivity_container" class="security forum_post active">  
            <div class="header_profile">
                Fotografía: 
            </div>
            <h:inputFile value="#{BlogBean.file}" id="file" /> 
        </div>
        <div id="moreactivity_container" >
            <h:commandButton value="Cambiar" styleClass="cancel-account color-button1" type="submit" actionListener="#{BlogBean.changePhoto}"/>
        </div>
    </h:form>
</ui:composition>