<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form enctype="multipart/form-data" >

        <div id="moreactivity_container" class="moreactivity">
            <span id="noresults" class="hiden">Modificar Datos Personales</span>
        </div>


        <div id="moreactivity_container" class="security forum_post active">   
            <div class="header_profile">
                Nombre:
            </div>

            <h:inputText id="name" value="#{BlogBean.session.name}" required="true" requiredMessage="Requerido" validatorMessage="El nombre tiene que ser menor a 45 caractéres">
                <f:validateLength maximum="45" />
            </h:inputText> 

            <h:message for="name" id="msgname" styleClass="validator-message-error"/>
        </div>


        <div id="moreactivity_container" class="security forum_post active">           
            <div class="header_profile">
                Primer Apellido:            
            </div>

            <h:inputText id="firstName" value="#{BlogBean.session.firstName}" size="60" required="true" requiredMessage="Requerido" validatorMessage="El primer apellido tiene que ser menor a 45 caractéres">
                <f:validateLength maximum="45" />
            </h:inputText>
            <h:message for="firstName" id="msgFirstName"  styleClass="validator-message-error"/>
        </div>

        <div id="moreactivity_container" class="security forum_post active">  
            <div class="header_profile">
                Segundo Apellido: 
            </div>
            <h:inputText id="secondLastName" value="#{BlogBean.session.lastName}" size="60" required="true" requiredMessage="Requerido" validatorMessage="El segundo apellido tiene que ser menor a 45 caractéres">
                <f:validateLength maximum="45" />
            </h:inputText>
            <h:message for="secondLastName" id="msgsecondLastName"  styleClass="validator-message-error"/>
        </div>

        <div id="moreactivity_container" class="security forum_post active">  
            <div class="header_profile">
                Teléfono: 
            </div>
            <h:inputText value="#{BlogBean.session.phone}" />    
        </div>

        <div id="moreactivity_container" class="security forum_post active">  
            <div class="header_profile">
                Género: 
            </div>
            <h:selectOneMenu id="gender" value="#{BlogBean.session.gender}" required="true" requiredMessage="Requerido">
                <f:selectItem itemValue="" itemLabel="Seleccionar" />
                <f:selectItem itemValue="F" itemLabel="Femenino" />
                <f:selectItem itemValue="M" itemLabel="Masculino" />
            </h:selectOneMenu>
            <h:message for="gender" id="msgGender"  styleClass="validator-message-error"/>
        </div>


        <div id="moreactivity_container" class="update-panel">
            <h:commandButton value="Actualizar" styleClass="cancel-account update-profile color-button1" type="submit" actionListener="#{BlogBean.updatePersonalInformation}">
                <f:ajax execute="@form" render="msgname msgFirstName msgsecondLastName msgGender personalInformation" />  
            </h:commandButton>

            <p:ajaxStatus>
                <f:facet name="start">
                    <div class="loading-profile">
                        <p>
                            <img src="resources/images/loading.gif" alt="" />                         
                            <h:outputLabel  value="Cargando..."/>         
                        </p>
                    </div>
                </f:facet>
                <f:facet name="complete">
                    <p>
                        <h:panelGroup id="personalInformation">
                            <h:outputLabel value="#{BlogBean.sucessMessage}" styleClass="succes-msg" rendered="#{BlogBean.sucessMessage ne null}" />
                            <h:outputLabel value="#{BlogBean.errorMessage}" styleClass="error-msg" rendered="#{BlogBean.errorMessage ne null}" />
                        </h:panelGroup>
                    </p>
                </f:facet>
            </p:ajaxStatus>

        </div>





    </h:form>                

</ui:composition>


