<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <h:form>



        <div class="profile_content userprof" >

            <div id="moreactivity_container" class="moreactivity">
                <span id="noresults" class="hiden">Configuración de seguridad</span>
            </div>


            <div id="moreactivity_container" class="security forum_post active"> 
                <div class="header_profile">
                    Mostrar correo electrónico:
                </div>

                <h:selectOneMenu value="#{BlogBean.session.security.showEmail}">
                    <f:selectItem itemValue="1" itemLabel="Todos" />
                    <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->
                    <f:selectItem itemValue="3" itemLabel="Solo yo" />
                </h:selectOneMenu>


            </div>

            <div id="moreactivity_container" class="security forum_post active">           
                <div class="header_profile">
                    Mostrar teléfono:
                </div>

                <h:selectOneMenu value="#{BlogBean.session.security.showPhone}">
                    <f:selectItem itemValue="1" itemLabel="Todos" />
                    <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->
                    <f:selectItem itemValue="3" itemLabel="Solo yo" />
                </h:selectOneMenu>
            </div>

            <div id="moreactivity_container" class="security forum_post active">           
                <div class="header_profile">
                    Mostrar Perfil:
                </div>


                <h:selectOneMenu value="#{BlogBean.session.security.showProfile}">
                    <f:selectItem itemValue="1" itemLabel="Todos" />
                    <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->
                    <f:selectItem itemValue="3" itemLabel="Solo yo" />
                </h:selectOneMenu>
            </div>

            <div id="moreactivity_container" class="security forum_post active">    
                <div class="header_profile">
                    Mostrar Actividad:
                </div>

                <h:selectOneMenu value="#{BlogBean.session.security.showActivity}">
                    <f:selectItem itemValue="1" itemLabel="Todos" />
                    <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->
                    <f:selectItem itemValue="3" itemLabel="Solo yo" />
                </h:selectOneMenu>
            </div>

            <div id="moreactivity_container" class="security forum_post active">   
                <div class="header_profile">
                    Mostrar Última Conección:
                </div>

                <h:selectOneMenu value="#{BlogBean.session.security.showLastConnection}">
                    <f:selectItem itemValue="1" itemLabel="Todos" />
                    <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->
                    <f:selectItem itemValue="3" itemLabel="Solo yo" />
                </h:selectOneMenu>
            </div>

            <div id="moreactivity_container" class="security forum_post active">   
                <div class="header_profile">
                    Mostrar Nombre:
                </div>

                <h:selectOneMenu value="#{BlogBean.session.security.showName}">
                    <f:selectItem itemValue="1" itemLabel="Todos" />
                    <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->
                    <f:selectItem itemValue="3" itemLabel="Solo yo" />
                </h:selectOneMenu>
            </div>

            <div id="moreactivity_container" class="security forum_post active">   
                <div class="header_profile">
                    Mostrar Primer Apellido:
                </div>

                <h:selectOneMenu value="#{BlogBean.session.security.showFirstName}">
                    <f:selectItem itemValue="1" itemLabel="Todos" />
                    <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->
                    <f:selectItem itemValue="3" itemLabel="Solo yo" />
                </h:selectOneMenu>
            </div>

            <div id="moreactivity_container" class="security forum_post active"> 
                <div class="header_profile">
                    Mostrar Segundo Apellido:
                </div>

                <h:selectOneMenu value="#{BlogBean.session.security.showSecondLastName}">
                    <f:selectItem itemValue="1" itemLabel="Todos" />
                    <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->
                    <f:selectItem itemValue="3" itemLabel="Solo yo" />
                </h:selectOneMenu>
            </div>

            <div id="moreactivity_container" class="security forum_post active">     
                <div class="header_profile">
                    Mostrar Género:
                </div>

                <h:selectOneMenu value="#{BlogBean.session.security.showGender}">
                    <f:selectItem itemValue="1" itemLabel="Todos" />
                    <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->
                    <f:selectItem itemValue="3" itemLabel="Solo yo" />
                </h:selectOneMenu>
            </div>

            <div id="moreactivity_container" class="security forum_post active"> 
                <div class="header_profile">
                    Mostrar Fecha de Cumpleaños:
                </div>

                <h:selectOneMenu value="#{BlogBean.session.security.showBirthDate}">
                    <f:selectItem itemValue="1" itemLabel="Todos" />
                    <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->
                    <f:selectItem itemValue="3" itemLabel="Solo yo" />
                </h:selectOneMenu>
            </div>

            <div id="moreactivity_container" class="security forum_post active">  
                <div class="header_profile">
                    Mostrar status de conección:
                </div>

                <h:selectOneMenu value="#{BlogBean.session.security.showStatusConecction}">
                    <f:selectItem itemValue="1" itemLabel="Todos" />
                    <!--<f:selectItem itemValue="2" itemLabel="Amigos" />-->
                    <f:selectItem itemValue="3" itemLabel="Solo yo" />
                </h:selectOneMenu>
            </div>
            <div id="moreactivity_container" >

            </div>



            <!--
                       <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
           
                      
                       <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                           <div style="width: 100px;">
                               <img src="resources/images/loading.gif" alt="" style="float: left"/>
                               <h:outputLabel  value="Cargando..." style="float: right"/>                    
                           </div>
                       </p:dialog>
            -->


            <div id="moreactivity_container" class="update-panel">
                <h:commandButton value="Actualizar" styleClass="cancel-account update-profile" type="submit" actionListener="#{BlogBean.updateSecurity}" >
                    <f:ajax execute="@form" render="securityPanel"  />  
                </h:commandButton>
                <p:ajaxStatus>
                    <f:facet name="start">
                        <div class="loading-profile">
                            <p>
                                <img src="resources/images/loading.gif" alt="" />                         
                                <h:outputLabel  value="Cargando..."/>         
                            </p>
                        </div>
                    </f:facet>
                    <f:facet name="complete">
                        <p>
                            <h:panelGroup id="securityPanel">
                                <h:outputLabel value="#{BlogBean.sucessMessage}" styleClass="succes-msg" rendered="#{BlogBean.sucessMessage ne null}" />
                                <h:outputLabel value="#{BlogBean.errorMessage}" styleClass="error-msg" rendered="#{BlogBean.errorMessage ne null}" />
                            </h:panelGroup>
                        </p>
                    </f:facet>
                </p:ajaxStatus>
            </div>



        </div>
    </h:form>
</ui:composition>