/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 4, 2014, 12:26:33 PM
    Author     : jonathan
*/

.member_content {
    margin: 1px 0;
}

#userprof_content_container {
    margin-left: 260px;
}
#sidebar_container.member_summary {
    width: 280px;
    margin-bottom: 12px;
}

#sidebar_container.sidebarleft {
    float: left;
    //margin-top: 5px;
}
#sidebar_container {
    width: 270px;
    float: right;
}

.blockhead {
    font-weight: bold;
    line-height: 15px;
    padding: 5px 9px;
    padding-right: 6px;
    background: #f1f1f1;
    box-shadow: 0 2px 0 #f1f1f1;
    color: #25ad9f;
    border: 1px solid #e0e0e0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

#sidebar_container .blockrow {
    padding: 10px 8px;
}
.blockrow {
    padding: 7px 9px;
}

#userinfo {
    display: block;
    margin: 5px 50px 8px;
}

.member_reputation {
    font-size: 0;
    line-height: 0;
    display: block;
}

#userinfo .member_username {
    font-weight: bold;
    font-size: 13px;
}
#userinfo .textstatus {
    font: bold 10px Tahoma,Geneva,sans-serif;
    vertical-align: super;
    text-transform: lowercase;
    margin-left: 50px;
}

.connect{
    color:green;
}

.disconnect{
    color: #E84A4A;
}

.member_reputation .repimg {
    margin-right: -1px;
    display: inline-block;
}
fieldset, img {
    border: 0;
}

.member_summary .textcontrol {
    font-size: 10px;
    float: right;
    border: 0;
    padding: 0;
    margin-left: 5px;
    background: none;
}

a.textcontrol, #inlinemod_formctrls .popupctrl, #pollinfo .button, .navpopupmenu a.popupctrl {
    color: #494b4d;
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #d9d9d9;
    background: #f0f0f0 url(../images/back/blockhead.png) bottom repeat-x;
    border-radius: 3px;
}

.mainblock .blockrow {
    background-color: #fafafa;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    font-size: 11px;
}

.mini_stats {
    font-size: 11px;
}
.blockbody {
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    border-top: 0;
    box-shadow: 0 2px 0 #e2e2e2;
}
.mini_stats span.dt {
    font-weight: bold;
}

li span.dt{
    font-weight: bold;
}
Pseudo ::after element
dl.stats dt:after, span.dt:after {
    content: ":";
}
Inherited from div.mini_stats.blockbody
.mini_stats {
    font-size: 11px;
}

.selected_view_section {
    display: inline-block;
    width: 100%;
}

.activitystream_block dl.tabslight {
    font-weight: bold;
    margin-bottom: 16px;
}
.profile_content dl {
    margin: 0 8px 5px;
}
dl.tabslight dd {
    display: inline-block;
}

.profile_content .activitybit {
    background: #fafafa;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    box-shadow: 0 2px 0 #ebebeb;
    margin: 5px 0;
}

.profile_content .security{
    background: #fafafa;
    border-bottom: 1px solid #D9D9D9;
    margin: 5px 0;
}

.security{
    font-size: 11px;
    overflow: hidden;
    padding: 8px;
}

.activitybit {
    font-size: 11px;
    overflow: hidden;
    padding: 8px;
}

li {
    list-style: none;
}

.activitybit + .activitybit {
    border-top: 1px solid #ebebeb;
}

.moreactivity {
    border: 1px solid #d9d9d9;
    margin-top: 8px;
}
.filterbar, .newactivity, .moreactivity, #olderactivity {
    font-size: 10px;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
    background: #f1f1f1;
    padding: 4px 9px;
}

.customDiv{
    margin-left: 300px;
}

.activitybit .avatar {
    float: left;
}

.activitybit .content.hasavatar {
    margin-left: 70px;
}

.activitybit .datetime {
    float: right;
}

.activitybit .title {
    font-size: 12px;
}
.title {
    font: bold 13px/15px Tahoma,Geneva,sans-serif;
    border-bottom: 1px solid #efefef;
    margin-bottom: 8px;
    padding-bottom: 5px;
}

.activitybit a {
    color: #466a92;
    font-weight: bold;
}

.activitybit .views, .activitybit .excerpt, .activitybit .fulllink {
    margin-top: 8px;
}

.activitybit .views, .activitybit .excerpt, .activitybit .fulllink {
    margin-top: 8px;
}

.activitybit .views, .activitybit .excerpt, .activitybit .fulllink {
    margin-top: 8px;
}

.tabbackground {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 8px;
    padding: 5px;
}

dl.tabslight dd {
    display: inline-block;
}

.userprof_module a {
    color: #7d7d7d;
}
a.textcontrol, #inlinemod_formctrls .popupctrl, #pollinfo .button, .navpopupmenu a.popupctrl {
    color: #25ad9f;
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #d9d9d9;
    background: #f0f0f0 url(../images/back/blockhead.png) bottom repeat-x;
    border-radius: 3px;
}

a.active_module{
    background: #4193d0;
    border-color: #4193d0;
    color: #fff;
}
a.inactive_module:hover{
    background: #4193d0;
    border-color: #4193d0;
    color: #fff;

}

.pagination {
    float: right;
    margin-bottom: 12px;
}

.pagination span {
    display: inline-block;
    font-size: 11px;
}

.pagination span.selected a {
    color: #fff;
    font-weight: bold;
    background: #384149 url(../images/back/forumhead.png) repeat-x;
    border-color: #3b434a;
}
.pagination span a:hover {
    background: #f0f0f0 url(../images/back/blockhead.png) top repeat-x;
    border-color: #c7c7c7;
}
.pagination span a {
    color: #616466;
    text-decoration: none;
    border: 1px solid #d9d9d9;
    background: #fafafa url(../images/back/blockhead.png) bottom repeat-x;
    padding: 2px 5px;
    margin-left: 1px;
    border-radius: 3px;
}

user agent stylesheeta:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
Inherited from span.selected
.pagination span {
    display: inline-block;
    font-size: 11px;
}

.pagination span a.popupctrl:hover, .pagination span a.popupctrl.active {
    background: url(../images/popupctrl.png) right top no-repeat,#fafafa url(../images/back/blockhead.png) top repeat-x;
    border-color: #c7c7c7;
}
.pagination span a.popupctrl:hover, .pagination span a.popupctrl.active {
    background: url(../images/popupctrl.png) right top no-repeat,#fafafa url(../images/back/blockhead.png) top repeat-x;
    border-color: #c7c7c7;
}

.pagination li.jumptopage {
    border: 1px solid #d9d9d9;
    border-bottom-width: 3px;
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    white-space: nowrap;
    position: relative;
    top: -3px;
    left: -2px;
}
.popupbody li.formsubmit {
    text-align: right;
    background: #f8f8f8;
    padding: 3px 5px;
}
.popupbody li:first-child {
    border-top: none;
}
.popupbody li {
    border-top: 1px solid #e1e1e1;
}

.header_profile{
    width: 200px;
    float: left;
}

.header_input{
    float: right;
    margin-right: 500px;
}

.panel{
    background: red;
}

.avatar-profile img{
    width: 300px;

}

.right-tab{
    float: right;
}

.insert-login{
    color: #494b4d;
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #d9d9d9;
    background: #f0f0f0 url(../images/back/blockhead.png) bottom repeat-x;
    border-radius: 3px;
    height: 32px;
    vertical-align: baseline;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
     cursor: pointer;

}
.insert-login:hover{
    background: #25ad9f;
    color: #FFF;
    border-color: #25ad9f;
    cursor: pointer;
}

