/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2014, 6:47:15 AM
    Author     : jonathan
*/



#buttonsPlayer{
    position: fixed;
    top: 80px;
    right: 0px;
    margin-left: -37px;
    z-index:1;
}

.li-addons{
    padding: 3px 3px 3px 0px;
    width: 27px;
    height: 26px;
    background: #777;//#1d1e20
    z-index: 10;
    margin: 0 0 2px 0;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}

.music{
    background-image: url(http://www.designchemical.com/blog/wp-content/themes/dc2011/dcsmt/images/icon/rss.png);
    background-repeat:no-repeat;
    position: relative; 
    z-index: 20;
}

.forum{
    background-image: url(http://www.designchemical.com/blog/wp-content/themes/dc2011/dcsmt/images/icon/digg.png);
    background-repeat:no-repeat;
    position: relative; 
    z-index: 20;
}

.forum:hover{
    background: #4ec2dc;
    background-image: url(http://www.designchemical.com/blog/wp-content/themes/dc2011/dcsmt/images/icon/rss.png);
    background-repeat:no-repeat;
    position: relative; 
    z-index: 20;
    cursor: pointer;  
}

.facebook:hover{
    background: #0B3A80;
    background-image: url(http://www.designchemical.com/blog/wp-content/themes/dc2011/dcsmt/images/icon/facebook.png);
    background-repeat:no-repeat;
    position: relative; 
    z-index: 20;
    cursor: pointer;  
}

.facebook{
    background-image: url(http://www.designchemical.com/blog/wp-content/themes/dc2011/dcsmt/images/icon/facebook.png);
    background-repeat:no-repeat;
    position: relative; 
    z-index: 20;
    
}

.forum:hover{
    background: #4ec2dc;
    background-image: url(http://www.designchemical.com/blog/wp-content/themes/dc2011/dcsmt/images/icon/digg.png);    background-repeat:no-repeat;
    position: relative; 
    z-index: 20;
    cursor: pointer;  
    
}

.toggle{
    position: fixed;
    top: 77px;
    right: 0px;
    margin-left: -39px;
    z-index:1;
    width: 500px;
    background: #0B3A80;
}

.facebook-toogle{
    background: #0B3A80;
    height: 560px;
    margin-left: 10px;
    border-radius: 5px 0 0 5px;
-webkit-border-radius: 5px 0 0 5px;
}

.youtube-toogle{
     background: #DF1F1C;
    //height: 560px;
    margin-left: 10px;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}

#youmax{
    margin-left: 5px !important;
}

#youmax-header{display:none !important;}

.youtube{
    background-image: url(http://designchemical.com/blog/wp-content/themes/dc2011/dcsnt/images/icons/youtube.png);
    background-repeat:no-repeat;
    position: relative; 
    z-index: 20;
}

.youtube:hover{
    background: #DF1F1C;
    background-image: url(http://designchemical.com/blog/wp-content/themes/dc2011/dcsnt/images/icons/youtube.png);
    background-repeat:no-repeat;
    position: relative; 
    z-index: 20;
    cursor: pointer;  
}

